<%= simple_form_for [:admin, @ticket, @reply] do |f| %>
  <%= f.trix_editor :content %>
	<%= f.simple_fields_for :assets do |a| %>
    <%= a.file_field :attachment, :name => 'reply[attachments][]', :multiple => true, class: 'dropzone-input attachments' %>
    <%= a.error :attachment %>
	<% end %>
  <%= f.button :submit %>
<% end %>