<% flash.each do |name, msg| %>
  <% @message = content_tag :div, raw(msg), class: "alert alert-fixed alert-" + name %>
<% end %>
$('#notifications').html("<%= escape_javascript @message %>");

<% if !flash[:error] %>
  $('#reply-<%= @reply.id %>').remove();
<% end %>