<div class="container">
	<div class="row">
		<div class="col-md-4 offset-md-4">

			<h2>Sign up</h2>

			<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
			  <%= devise_error_messages! %>
			  
			  <%= f.input :username %>
			  <%= f.input :email %>
			  <%= f.input :password %>
			  <%= f.input :password_confirmation %>
			  <%= f.button :submit, value: 'Sign up' %>

			<% end %>

			<%= render "devise/shared/links" %>

		</div>
	</div>
</div>
		