<p id="notice"><%= notice %></p>

<p>
  <strong>Scheme:</strong>
  <%= @permission.scheme_id %>
</p>

<p>
  <strong>Action:</strong>
  <%= @permission.action %>
</p>

<p>
  <strong>Type:</strong>
  <%= @permission.type %>
</p>

<p>
  <strong>Value:</strong>
  <%= @permission.value %>
</p>

<%= link_to 'Edit', edit_permission_path(@permission) %> |
<%= link_to 'Back', permissions_path %>
