<form class="form-inline" action="/search" method="_GET" id="search">
  <div class="search-wrapper">
    <input class="form-control" type="text" placeholder="Search Knowledge Base..." name="q" id="search_field" autocomplete="off" <%= "data-item-id=\"#{item_id}\"".html_safe if !local_assigns[:item_id].nil? %>>
    <button type="submit" class="btn btn-primary"><i class="material-icons">search</i></button>
    <div id="search_results" class="search-results"></div>
  </div>
</form>