<div class="search-results-list list-group">
	<div id="search-overlay" class="search-overlay"></div>
	<% if results.blank? %>
		<div class="list-group-item">No results match your query.</div>
	<% else %>
		<% results.each do |result| %>
			<a href="<%= url_for result %>" class="list-group-item list-group-item-action">
				<span class="title">
					<%= result.search_json[:content] %>
				</span>	
				<span class="badge badge-default badge-pill"><%= result.search_json[:type] %></span>
			</a>
		<% end %>
	<% end %>
</div>