<p id="notice"><%= notice %></p>

<h1>Admin Rules</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_rules.each do |admin_rule| %>
      <tr>
        <td><%= link_to 'Show', admin_rule %></td>
        <td><%= link_to 'Edit', edit_admin_rule_path(admin_rule) %></td>
        <td><%= link_to 'Destroy', admin_rule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Rule', new_admin_rule_path %>
