<%= simple_form_for [:admin,@article], html: { class: 'd-flex' } do |f| %>
  	<div class="sidebar">
      <%= f.input :status %>
      <%= f.input :section, include_blank: false, collection: @categories, as: :grouped_select, group_method: :sections %>
      <%= f.input :position %>
    </div>
    <div class="content">
      <%= f.input :title %>
      <%= f.trix_editor :content %>
    <%= f.button :submit %>
    </div>
<% end %>
