<table class="articles table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Position</th>
      <th>Section</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% articles.each do |article| %>
      <tr data-url="<%= edit_admin_article_url article.id %>">
        <td>
          <%= article.title %>
        </td>
        <td>
          <%= article.position %>
        </td>
        <td>
          <%= article.section.name %>
        </td>
        <td>
          <%= article.status %>
        </td>
        <td class="actions">
          <%= link_to '<i class="material-icons">mode_edit</i>'.html_safe, edit_admin_article_path(article) %>
          <%= link_to '<i class="material-icons">delete</i>'.html_safe, article, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>