<% if @item %>
	<h5><%= @item.name %></h5>
	<% @sections.each do |section| %>
		<h6><%= section.name.html_safe %></h6>
		<ul class="nav nav-pills flex-column">
			<% section.articles.each do |article| %>
				 <li class="nav-item">
				    <a class="nav-link <%= 'active' if params[:id].to_i == article.id %>" href="<%= article_item_url(article) %>"><%= article.title %></a>
				</li>
			<% end %>
		</ul>
	<% end %>
<% end %>