<div class="row">

  <div class="col-lg-3 sidebar">
    <h6>Filter articles</h6>
    <div class="filters">
      <%= simple_form_for @article, :url => admin_articles_url(:title => params[:title]), :method => :get, html: { id: :articles_filter } do |f| %>
        <%= f.input :title, input_html: { name: :title, value: params[:title] } %>
        <%= f.association :section, :as => :select, selected: params[:section], include_blank: 'Any', input_html: { name: :section, multiple: false } %>
        <%= f.input :status, value: params[:status], include_blank: 'Any', input_html: { name: :status } %>
      <% end %>
    </div>
  </div>
  
  <main class="col-lg-9 articles-col">
    <%= render 'partials/kb_nav' %>
    <%= render 'list' %>
  </main>
  <%= will_paginate @articles %> 

</div>
