<div class="container">

	<div class="row">
		<div class="col-lg-2 sidebar transparent">
			<%= render 'sidebar' %>
		</div>
		<div class="col-lg-8 offset-lg-2">
			<div class="page-header">
				<h1><%= @article.title %></h1>
				<% if can? :edit, @article %>
					<div class="actions-bar">
						<%= link_to '<i class="material-icons">edit</i> Edit'.html_safe, edit_article_path(@article), :class => 'btn btn-white' %>
					</div>
				<% end %>
			</div>
			<div class="card mb-5">
				<div class="card-block article-content">
					<%= raw @article.content %>
				</div>
			</div>
			<div class="tags">
				<h5>Tagged In:</h5>
				<% @article.items.each do |item| %>
					<%= link_to item.name, article_item_url(@article, item) %>
				<% end %>
			</div>
			<% if current_user && current_user.is_agent? %>
				<h5>Attached images</h5>
				<div class="attachments">
					<% @attachments.each do |asset| %>
						<%= image_tag asset.url(:thumb) %>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>	
</div>
