<nav class="hidden-xs-down admin-nav">
  <ul class="nav nav-pills flex-column">
    <%= nav_link('<i class="material-icons">local_library</i>'.html_safe, admin_categories_path, nil, 'Knowledge Base', 'right', true) %>
    <%= nav_link('<i class="material-icons">inbox</i>'.html_safe, admin_tickets_path, nil, 'Tickets', 'right', true) %>
    <%= nav_link('<i class="material-icons">supervisor_account</i>'.html_safe, admin_users_path, nil, 'Users', 'right', true) %>
    <%= nav_link('<i class="material-icons">cast_connected</i>'.html_safe, admin_channel_items_path, nil, 'Channels', 'right', true) %>
    <%= nav_link('<i class="material-icons">card_giftcard</i>'.html_safe, admin_products_path, nil, 'Products', 'right', true) %>
    <%= nav_link('<i class="material-icons">settings</i>'.html_safe, admin_account_settings_path, nil, 'Settings', 'right', true) %>
  </ul>
</nav>