<nav class="navbar navbar-toggleable-md header">
  <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <form class="form-inline" action="/search" method="_GET" id="search">
    <div class="search-wrapper">
      <input class="form-control" type="text" placeholder="Search..." name="q" id="search_field" autocomplete="off" <%= "data-item-id=\"#{item_id}\"".html_safe if !local_assigns[:item_id].nil? %>>
      <div id="search_results" class="search-results"></div>
    </div>
  </form>

  <div class="ml-auto">

    <ul class="navbar-nav dropdown-menu-left">
      <% if (can? :manage, AccountSetting) && !current_tenant.has_membership? %>
        <li class="">
          <a href="<%= subscription_path %>" class="btn-sm btn-secondary">Upgrade</a>
        </li>
      <% end %>

        <li class="">
            <%= link_to '<i class="material-icons">add</i>'.html_safe, new_ticket_path, class: 'btn btn-primary' %>
        </li>
        <li class="nav-item dropdown dropdown-user">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">more_vert</i><%= raw current_user.avatar %>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="<%= admin_user_path(current_user.username) %>">Profile</a>
            <%= link_to "Logout", destroy_user_session_path, :method => :delete, :class => 'dropdown-item' %>
          </div>
        </li>

    </ul>
  </div>
</nav>