<% if can? :read, CannedResponse %>
    <% canned_responses = CannedResponse.all %>
    <script type="text/javascript">
    var savedReplies = <%= j canned_responses.to_json.html_safe %>;
    </script>
<% end %>
