<% if can? :read, CannedResponse %>
  <% canned_responses = CannedResponse.all %>
  <style type="text/css">
  <% canned_responses.each_with_index do |response, index| %>
    span[data-value="<%= raw index %>"]:before {
      content: "<%= raw response['name'] %>";
    }
  <% end %>
  </style>
<% end %>

  <script type="text/javascript" data-turbolinks-eval="false">

  function uniqeId() {
    return Math.round(new Date().getTime() + (Math.random() * 100));
  }

  $(document).on('turbolinks:load ajax:success', function() {

    var Clipboard = Quill.import('modules/clipboard');
    var Delta = Quill.import('delta');

    class PlainClipboard extends Clipboard {
      convert(html = null) {
        if (typeof html === 'string') {
          this.container.innerHTML = html;
        }
        let text = this.container.innerText;
        this.container.innerHTML = '';
        return new Delta().insert('text');
      }
    }

    Quill.register('modules/clipboard', PlainClipboard, true);


    // Quill editor
    $('.editor-field').each(function() {
      editorId = 'editor-' + $(this).attr('id');
      if (!$('#' + editorId).length) {
        // Add editor
        var editorField = $(this),
          quillEditor = $('<div class="editor" id="editor-' + editorField.attr('id') + '"></div>').insertAfter(editorField),
          quill = new Quill('#' + editorId, {
            modules: {
              syntax: true,              // Include syntax module
              toolbar: [
                [{ header: [1, 2, 3, false] }],
                ['bold', 'italic', 'underline'],        // toggled buttons
                ['blockquote', 'code-block'],

                ['link', 'image'],

                [{ 'list': 'ordered'}, { 'list': 'bullet' }],

                ['clean'],

                <% if can? :read, CannedResponse %>
                  [{ canned_responses: [ "none", <%= raw canned_responses.each_with_index.map{ |response, index| "\"#{index}\"" }.join(',') %> ]}]
                <% end %>
              ]
            },
            theme: 'snow'
          });
          quillContent = quillEditor.find('.ql-editor');

        quillContent.html(editorField.val());

        quill.on('text-change', function(delta, oldDelta, source) {
          editorField.val(quillContent.html());
        });
      }
    });

    <% if can? :read, CannedResponse %>
      // Canned responses
      var cannedResponses = <%= j canned_responses.to_json.html_safe %>;
      // var toolbar = quill.getModule('toolbar');
      var cannedResponseButton = $('.ql-canned_responses .ql-picker-item');
      cannedResponseButton.click( function() {
        if ($(this).data('value') == 'none') {
          quill.setText('');
        }
        else {
          response = cannedResponses[$(this).data('value')]['content'];
          // quill.setText($(response).text());
          $('.ql-editor').html(response);
        }
      });
    <% end %>
  });

  // Cleanup
  $(document).on('turbolinks:request-start', function() {
    $('.ql-toolbar').remove();
    $('.editor').remove();
  });

  </script>

