<div class="page-header">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" href="<%= admin_categories_path %>" role="tab">Categories</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="<%= admin_sections_path %>" role="tab">Sections</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="<%= admin_articles_path %>" role="tab">Articles</a>
    </li>
  </ul>
</div>