<div id="notifications">
  <% if alert %>
    <p class="alert alert-fixed"><%= alert %></p>
  <% end %>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg.html_safe, class: "alert alert-" + name %>
  <% end %>
</div>
