<table class="sections table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @sections.each do |section| %>
      <tr class="section" data-url="<%= admin_section_path(section) %>">
        <td>
          <%= section.name %>
        </td>
        <td>
          <%= section.position %>
        </td>
        <td class="actions">
          <%= link_to '<i class="material-icons">mode_edit</i>'.html_safe, edit_admin_section_path(section), :remote => true  %>
          <%= link_to '<i class="material-icons">delete</i>'.html_safe, admin_section_path(section), method: :delete, data: { confirm: 'Are you sure?  This will delete the section and all associated articles.' }, :remote => true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>