<div class="container">
	<div class="row">
		<div class="col-md-8 offset-md-2">
			<div class="actions-bar">
				<%= link_to '<i class="material-icons">add</i> New Article'.html_safe, new_article_path, :class => 'btn btn-primary' %>
			</div>
			<h1><%= @section.name %></h1>
			<%= render 'form', section: @section %>
		</div>
	</div>
</div>

