<div class="row">
  <div class="col-lg-2 sidebar">
  	<h5>Filter Sections</h5>
  	<div class="filters">
  	  <%= simple_form_for @section, :url => admin_sections_url(:status => params[:status]), :method => :get, html: { id: :sections_filter } do |f| %>
  	    <%= f.input :name, selected: params[:title], input_html: { name: :title } %>
  	  <% end %>
  	</div>
  </div>

  <main class="col-lg-9">
    <div class="page-header">
      <h1 class="page-title">Sections</h1>
    </div>
    <%= render 'list' %>

  </main>
  <%= will_paginate @sections %>
  

</div>
