<ol class="breadcrumb">
  <li class="active">
    Sections
  </li>
</ol>
<div class="container">
	<div class="row">
		<div class="col-md-8 offset-md-2">
			<div class="actions-bar">
				<%= link_to '<i class="material-icons">add</i> New Section'.html_safe, new_section_path, class: 'btn btn-primary' %>
			</div>
			<p class="alert alert-info">Drag and drop the sections below to reorder how they appear in your knowledge base.</p>
			<ol data-role="activerecord_sortable">
			<%# @sections = @sections.reject{ |s| s.id == 3} %>
			  <% @sections.each do |section| %>

			  <li data-role="section<%= section.id %>" data-move-url="<%= move_section_url(section) %>" data-position="<%= section.position %>" class="<%#= 'hidden-xs-up' if section.id == 3 %>">
			  	<div class="row">
  				  <!-- <i class="material-icons handle">import_export</i> -->
  				  <i class="material-icons handle">drag_handle</i>
			  		<div class="col-md-8">
	  			    <h5><%= link_to section.name, edit_section_path(section) %></h5>
			  		</div>
			  		<div class="col-md-4 text-right">
  			    	<div class="actions">
  					    <%= link_to '<i class="material-icons">mode_edit</i>'.html_safe, edit_section_path(section) %>
  					    <%= link_to '<i class="material-icons">delete</i>'.html_safe, section, method: :delete, data: { confirm: 'Are you sure?' } %>
  			    	</div>
			  		</div>
			  	</div>


			  </li>
			  <% end %>
			</ol>
		</div>
	</div>

</div>




