<% content_for :page_header do %>
  <h1>Articles</h1>
<% end %>
<%= render 'admin/categories/sidebar'%>
<div class="content">
    <%= render 'admin/articles/list', articles: @section.articles %>
</div>