<div class="container">
	<div class="row">
		<div class="col-md-4 offset-md-4">
					
			<h2>Forgot your password?</h2>

			<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
			  <%= devise_error_messages! %>
				
				<%= f.input :login, autofocus: true %>
				<%= f.button :submit, value: 'Reset password' %>

			<% end %>

			<%= render "devise/shared/links" %>

		</div>
	</div>
</div>

