.form-group {
  clear: both;
  // display: inline-block;
  // width: 100%;
}

input[type=submit] {
  clear: both;
  display: block;
}
.checkbox {
  display: block;
}
[type="checkbox"], [type="radio"] {
  margin-right: 10px;
}

.checkbox-group {
  label {
    position: relative;
    padding-left: 36px;
    &:before {
      position: absolute;
      left: 0;
      content: '';
      display: block;
      background-color: darken($input-bg, 2%);
      width: 20px;
      height: 20px;
      border: 1px solid $input-border-color;
      border-radius: 3px;
    }
    &:after {
      content: '';
      width: 12px;
      height: 7px;
      position: absolute;
      top: 5px;
      left: 4px;
      border: 3px solid $gray-dark;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg);
    }
  }

  input[type=checkbox] {
    position: absolute;
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }  
  }
}

.editor-field {
  visibility: hidden;
  position: absolute;
}

.switch {

    .switch-btn {
      border-radius: 5px;
      display: block; width: 24px; margin: 6px;
      background: #FFFFFF;
      position: absolute; top: 0; bottom: 0;
      left: 0px;
      width: calc(50% - 10px);
      margin: 5px;
      box-shadow: 0 5px 15px rgba(94, 97, 109, 0.2);
      transition: all 0.2s ease-in 0s; 
    }

    .switch-inner {
      display: block;
      position: relative;
      z-index: 2;
      color: $input-color;
      .switch-off, .switch-on {
        transition: all 0.2s ease-in 0s;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        min-width: 80px;    
        float: left;
        display: block;
        width: 50%;
        line-height: 50px;
      }
    }

    label {
      cursor: pointer;
      background: #f9f9fc;
      height: 50px;
      width: auto;
      border-radius: $input-border-radius;
      position: relative;
    }

    input[type=checkbox] {
      display: none;
    }
}
.switch input[type=checkbox]:checked + label .switch-inner {
    .switch-on {
      color: #fff;
    }
}
.switch input[type=checkbox]:checked + label .switch-btn {
    left: 50%; 
    background: $green;
}
.form-group.toggle {
  // display: inline-block;
  // width: 100%;
  >label {
    float: left;
    width: 70%;
    line-height: 34px;
  }

}

span.help-block {
  color: #d6105f;
  &:first-letter {
    text-transform: capitalize;
  }
}

// Selectize
select {
  visibility: hidden;
  &.selectized {
    visibility: visible;
  }
}

.selectize-control.multi {
  .selectize-input {
    border-color: $input-border-color;
    color: $input-color;
    border-radius: $input-border-radius;
    line-height: $input-line-height;
    background: $input-bg;   
    &.focus {
      outline: none;
      box-shadow: none;
      border-color: $input-border-focus;
      background: $input-bg;
    } 
  }
}

.selectize-control.single {
  .selectize-input {
    border-color: $input-border-color;
    color: $input-color;
    border-radius: $input-border-radius;
    line-height: $input-line-height;
    padding-right: 40px;
    &.focus {
      outline: none;
      box-shadow: none;
      border-color: $input-border-focus;
      background: $input-bg;
    }
  }
}
.selectize-control.single .selectize-input:after {
    border: 0;
    content: 'keyboard_arrow_down';
    font-family: 'Material Icons';
    margin-top: -10px;
    font-size: 24px;
    right: 26px;
    line-height: $input-line-height;
    transform: translateY(-50%);
    width: auto;
    height: auto;
    top: 50%;
    margin-top: 1px !important;
    right: 10px;
}
.selectize-dropdown, .selectize-dropdown.form-control {
  border: 0;
  box-shadow: 0 5px 15px rgba(94, 97, 109, 0.2);
}
.selectize-dropdown [data-selectable], .selectize-dropdown .optgroup-header {
    padding: 12px 1.5rem;
    line-height: 1;
}


// Color swatches
.color-picker {
  background: transparent;
}
.minicolors-theme-bootstrap .minicolors-swatch {
    margin-top: 9px;
    margin-left: 4px;
    border-radius: 50%;
    cursor: pointer;
}
.minicolors-panel {
  background: white;
  padding: 10px;
}
.minicolors-slider, .minicolors-opacity-slider {
  top: 11px;
  left: 162px;
}
.minicolors-opacity-slider {
  left: 183px;
  top: 11px;
}

// Credit cards
.form-control.card-number {
  background-repeat: no-repeat;
  background-size: 38px;
  background-position: 90% 50%;
}

// Horizontal Forms
.form-horizontal {
  label {
    margin-bottom: 0px;
  }
  .help-block {
    color: rgba(68,81,108,0.5);
    font-size: 1rem;
  }
}