body {
	// background-color: #f6f7fb;
	background-color: #fff;
	min-height: 100vh;
	display: flex;
    flex-direction: column;
}

.main {
	>.row{
		// >[class^=col] {
		// 	padding-top: 2.5rem;
		// }
		// >[class^=col]:first-child {
		// 	padding-left: 2.5rem;
		// }
	}
	
}
.section-padded {
	padding-top: 5rem;
	padding-bottom: 5rem;
}
.section-inverse {
	color: #fff;
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
		color: #fff;
	}
}
.main {
}

.thumbnail {
	max-width: 300px;
}

.pop {
	border: 1px solid $dropdown-border-color;
	padding: 60px;
	// box-shadow: 0px 5px 56px 23px rgba(180, 188, 197, 0.2);
}
.box {
	border: 1px solid #e8eff7;
	padding: 40px;
}

.equal-height-row {
	display: table;
	> div[class^='col-'] {
		display: table-cell;
		vertical-align: middle;
	}
}

// Admin
.main {
	display: flex;
	flex: 1 0 auto;
	margin-left: 86px;
	padding: 0;
	width: calc(100% - 86px);
}
.content {
	flex-grow: 1;
}
.col-p {
	@extend .col;
	padding-top: 2.2rem;
	form {
		max-width: 900px;
	}
}