.table thead th {
    border-top: 0;
    font-size: 1rem;
    font-weight: 600;
    font-family: $headings-font-family;
    color: $headings-color;
}
table {
    tr[data-url] {
        cursor: default;
        > td:first-child {
            cursor: pointer;
        }
    }
}