p {
	font-weight: 400;
	line-height: 1.8;
	// color: #a6b0b9;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	margin-bottom: 1.6rem;
	font-weight: bold;
}
h1, .h1 {
	font-weight: 300;
}
.feature-icon {
	background: transparent;
  // border: 1px solid rgba(130, 44, 224, 0.25);
  border-radius: 50%;
  // padding: 7px;
  font-size: 36px;
  margin-bottom: 1.2rem;
  color: $brand-primary;
}
.secondary {
	color: $brand-secondary;
}
.list-unstyled {
	margin-bottom: 0;
}
.table th, .table td {
  padding: 0.75rem 1.5rem;
}

@font-face {
    font-family: 'sofiapro-light';
    src: url('sofiapro-light-webfont.woff2') format('woff2'),
         url('sofiapro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
