$headings-font-family: "sofiapro-light", sans-serif;
$font-family-sans-serif: 'muli', sans-serif;
$font-size-h1: 2.3rem;
$font-size-h1: 3rem;
$font-size-h2: 1.8rem;
$font-size-base: 1.1rem;
// $headings-color: #415365;
$headings-color: #3d5975;

// Grid columns
$grid-gutter-width-base: 50px;
$container-max-widths: (
  sm: 576px,
  md: 720px,
  lg: 940px,
  xl: 1140px
);

// Reassign color vars to semantic color scheme
$green: #3ed8a6;
$purple: #8f6ed5;
// $red: #ec4039;
$red: #822ce0;
$border-color: #e4eaef;
$alert-red: #c55c5c;
$alert-green: #55c56d;
$alert-yellow: #fb8c00;
$alert-blue: #55b5c5;

// Create grayscale
$gray-dark:                 #292b2c;
$gray:                      #464a4c;
$gray-light:                #ada9ae;
$gray-lighter:              #eceeef;
$gray-lightest:             #f7f7f9;
$gray-blue:                 #848396;

$brand-primary:             $green;
$brand-secondary:						$red;
// $brand-success:             $green !default;
// $brand-info:                $teal !default;
// $brand-warning:             $orange !default;
// $brand-danger:              $red !default;
$brand-inverse:             #2d373c;
$link-color: $gray-dark;
$link-hover-decoration: none;

// Create grayscale
$gray-lightest: rgba(200, 216, 226, 0.075);

// Buttons
$btn-secondary-color: #fff;
$btn-secondary-bg: $red;
$btn-border-radius: 0.2rem;
$btn-default-bg: #fff;
$btn-secondary-border: transparent;
$btn-padding-x: 1.1rem;
$btn-padding-y: 0.6rem;
$btn-padding-x-sm: .8rem;
$btn-padding-y-sm: .55rem;
$font-size-sm: .975rem;

// Navs
// $nav-pills-active-link-bg: #e5f1f7;
$nav-pills-active-link-bg: transparent;
$nav-pills-active-link-color: #383439;
$nav-link-padding:              .40em 1em;
$nav-pills-border-radius:       0;

// List groups
$list-group-item-padding-x:      1.25rem;
$list-group-item-padding-y:      1rem;
$list-group-bg: #fff;
$list-group-active-bg:  #fff;

// Modals
$modal-inner-padding: 25px 35px;

// Forms
// #f9fcfd #fcfeff
// $input-bg: #fafcff;
$input-bg: #fafafc;
$input-border-color: transparent;
$input-border-focus: #e7efec;
$input-color: #535c65;
// $input-border-color: #ccc;
$input-border-radius: 6px;
$input-line-height: 1.9;

// Badges
$badge-default-bg:            $purple;
$badge-padding-x:             .5em !default;
$badge-padding-y:             .35em !default;

//== Type
$text-muted:  #becbd4;

// Tables
$table-bg-hover: rgba(200, 216, 226, 0.075);