<div class="container">
	<div class="sections row" id="sections">
		<% @sections.each do |section| %>
		  <div class="section section-draggable col-md-4"  data-id="<%= section.id %>" data-sort-order="0">
		  	<div class="section-title">
		  		<h4><%= section.name.html_safe %></h4>
		  	</div>
		  	<div class="card">
					<div class="articles" data-section-id="<%= section.id %>">
						<% section.articles.first(6).each do |article| %>
							<div class="article" data-id="<%= article.id %>" data-sort-order="0">
								<%= link_to '<i class="material-icons">library_books</i>'.html_safe + article.title, article_item_url(article) %>
							</div>
						<% end %>
						<% if section.articles.size > 6 %>
							<div class="article">
								<%= link_to "See all (#{section.articles.size})", section_item_url(section) %>
							</div>
						<% end %>
					</div>
		  	</div>

		  </div>
		<% end %>
		<% if !@sections.any? && current_user && current_user.is_agent? %>
			<div class="alert alert-info col-md-8 offset-md-2 text-center">
				Sections will not show up until articles are associated with this item.  Would you like to add an article now?
				<div class="div">
					<%= link_to 'Create Article', new_admin_article_path, class: 'btn' %>
				</div>
			</div>
		<% end %>
	</div>
</div>