
<div class="container">
	<div class="row">
		<div class="col-md-3 sidebar">
			<%= render 'articles/sidebar' %>
		</div>
		<div class="col-md-8 offset-md-1">
			<h1><%= @section.name %></h1>

			<% if can? :edit, @section %>
				<div class="actions-bar">
					<%= link_to 'Edit', edit_section_path(@section) %> |
					<%= link_to 'Back', sections_path %>
				</div>
			<% end %>

			<% @section.articles.each do |article| %>
				<h4><%= link_to article.title, article_item_url(article) %></h4>
				<div class="article-intro">
					<%= sanitize(article.content.truncate_words(20)) %>
				</div>
			<% end %>

		</div>
	</div>
</div>
