<% @channel_items.each do |channel_item| %>
  <div class="channel-item channel-envato <%= 'has-ticket' if channel_item.ticket %>" disabled>
    <div class="avatar-container">
      <% if channel_item.avatar_url %>
        <%= image_tag channel_item.avatar_url, :class => 'channel-avatar' %>
      <% else %>
        <%= image_tag image_url('envato-default-user.jpg'), :class => 'channel-avatar' %>
      <% end %>
    </div>
    <div class="channel-item-body">
      <strong><%= channel_item.username %></strong><br/>
      <small><%= channel_item.product.name %></small>
      <div class="channel-item-content">
        <%= channel_item.content %>
      </div> 
    </div>
    <div class="actions float-right">
      <% if channel_item.ticket.nil? %>
        <%= link_to '<i class="material-icons">file_download</i> Import'.html_safe, create_ticket_admin_channel_item_path(channel_item.id), class: 'btn' %>
      <% else %>
        <%= link_to 'View Ticket', ticket_path(channel_item.ticket.id) %>
      <% end %>
    </div>
  </div>
<% end %>
<%= will_paginate @channel_items %>