<% content_for :page_header do %>
  <h1>Channels</h1>
  <div class="actions-bar">
    <a href="#" class="btn btn-white" id="sync-channels-btn"><i class="material-icons">refresh</i> Sync</a>
  </div>
<% end %>

<nav class="sidebar">
  <h6>Envato</h6>
  <ul class="nav nav-pills flex-column mb-5">
    <%= nav_link('All', '/admin/channels') %>
    <% @products.each do |product| %>
      <%= nav_link(product.name, '/admin/channels?product=' + product.id.to_s) %>
    <% end %>
  </ul>
</nav>

<div class="content">

  <% if !current_user.envato %>
    <div class="alert alert-info">
      Your envato account is not connected to your user account.  Please connect to import new items.
    </div>
  <% end %>

  <div id="channel-items">
    <div class="alert alert-info">
      <i class="material-icons">refresh</i> Refreshing channel items.  Please wait.
    </div>
    <%= render 'list' %>
  </div>

</div>

<% content_for :footer_scripts do %>
  <% if !@channel_items.exists? || (@channel_items.exists? && Time.now - @channel_items.first.updated_at  > 60.minutes) %>
    <script>
        window.syncChannels();
    </script>
  <% end %>
<% end %>