    	<div class="container-fluid hero" style="//background-image: url('<%#= asset_url('none.png') %>'); background-position: bottom center">
    		<div class="row text-center">
    			<div class="col-md-12 section-padded">
    				<!-- <h1>Help desk and support forum<br/>for <strong>Envato authors</strong></h1> -->
    				<h2 style="color:#fff;font-weight: 300;font-size: 2.4rem;">Put together a knowledgebase and support forum for your Envato items in seconds.</h2>
    				<a href="/accounts/new" class="btn-lg btn-primary">Start Trial</a>
    			</div>
    			<div class="col-md-12">
    				<%= image_tag asset_url('hero.png'), style: 'max-width:900px;' %>
    			</div>
    		</div>
    	</div>
			<!-- /.hero -->
			<div class="section-padded">
				    	<div class="container">
				    		<div class="row equal-height-row section-padded">
				    			<div class="col-md-4">
						    				<%= image_tag asset_url('sync.png'), style: 'max-width:500px; margin-top: -140px;' %>
					    					<h2>Sync Envato items and products</h2>
					    					<p>Pull your items and their images directly from Envato with 1 click.  Seamlessly sync anytime to pull your latest items.</p>
				    			</div>
  			    			<div class="col-md-4">
  					    				<%= image_tag asset_url('purchases2.png'), style: 'max-width:500px; margin-top: -140px;' %>
  					    				<h2>No purchase code necessary / support expiration</h2>
  					    				<p>Automatically sync customer accounts to get up-to-date purchase data.  You can require users to have a valid purchase to open a ticket or provide an open forum to users.</p>
  			    			</div>
				    		</div>
			    		</div>

			    		<div style="border-top: 1px solid #deeeff; border-bottom: 1px solid #deeeff; background: #fafaff;">
			    			<div class="container">
					    		<div class="row equal-height-row section-padded" >
					    			<div class="col-md-6">
						    			<i class="material-icons feature-icon">code</i>
					    				<h2>Code syntax highlighting</h2>
					    				<p>Code highlighting let's you more easily provide fixes and custom solutions to customers.  Code highlighting supports CSS, HTML, PHP, and Javascript.</p>
					    			</div>
					    			<div class="col-md-6">
					    				<%= image_tag asset_url('code-syntax.png'), style: 'max-width:700px;' %>
					    			</div>
					    		</div>
			    			</div>
			    		</div>
			    		<div class="container">
				    		<div class="row equal-height-row section-padded">
				    			<div class="col-md-6">
						        <%= image_tag asset_url('import-process.png'), style: 'max-width:500px;' %>
				    			</div>
				    			<div class="col-md-6">
				    				<h2>Create tickets directly from comments</h2>
				    				<p>Easily create tickets from user comments on Envato.  User information is synced with that user.  If they already have an account on your site, the ticket will link with that account, otherwise it will link to their account the first time they sign in.</p>
				    			</div>
				    		</div>
			    		</div>
				    		<div class="row equal-height-row section-padded">
				    			<div class="col-md-6">
				    				<h2>Custom branded support portal</h2>
				    				<p>Brand your support center and knowledge base to match your company.  Select from from predefined options or style with your own CSS.</p>
				    			</div>
				    			<div class="col-md-6">
						        <%= image_tag asset_url('branding.png'), style: 'max-width:700px;' %>
				    			</div>
				    		</div>
				    	</div>
							<!-- /.features -->
			</div>

			<div class="container">
				<div class="row">
					<div class="col-md-4">
	    			<i class="material-icons feature-icon">file_download</i>
						<h3>Unlimited items</h3>
						<p>Import or add as many items as you'd like to support.  Each will sync seamlessly with your user's purchases and inform you of expired support.</p>
					</div>
					<div class="col-md-4">
	    			<i class="material-icons feature-icon">lock_outline</i>
						<h3>Privacy settings</h3>
						<p>Control who can see your tickets and articles.  Require purchase to view documentation and tickets or create a public support forum.</p>
					</div>
					<div class="col-md-4"></div>
				</div>
			</div>


			<div class="container-fluid cta section-padded" style="border-top: 1px solid #deeeff; border-bottom: 1px solid #deeeff; background: #fafaff;">
				<div class="row">
					<div class="col-md-12 text-center">
						<h2>Get started with a free 30 day trial!</h2>
						<a href="/accounts/new" class="btn-lg btn-primary">Sign up</a>
					</div>
				</div>
			</div>
			<!-- /.cta -->
<%= raw @page.content %>