<%= simple_form_for @ticket do |f| %>
 <% if @ticket.errors.any? %>
  <div id="error_explanation">
   <div class="alert alert-error">
     The form contains <%= pluralize(@ticket.errors.count, "error") %>.
      <ul>
       <% @ticket.errors.full_messages.each do |msg| %>
        <li>* <%= msg %></li>
       <% end %>
     </ul>
   </div>
</div>
<% end %>

  <%= f.association :product %>
  <%= f.input :subject, :input_html => { :id => 'search_field' } %>
  <% if can? :assign_labels, @ticket %>
	  <%= f.association :labels, as: :check_boxes %>
  <% end %>
  <%= f.simple_fields_for :replies do |r| %>
    <%= r.input :content, input_html: { class: 'editor-field', data: { :canned_responses => false } } %>
  <% end %>
  <%# <%= f.input :content, input_html: { class: 'editor-field', data: { :canned_responses => false } } %> %>
  <%= f.simple_fields_for :assets do |a| %>
    <p>
      <%= a.label :image %>
      <%= a.file_field :attachment, :name => 'ticket[attachments][]', :multiple => true %>
      <%= a.error :attachment %>
    </p>
  <% end %>
  <%= f.button :submit %>
<% end %>