<ul class="tickets list-unstyled tickets-list">
<% tickets.each do |ticket| %>
  <li class="ticket ticket ticket-status-<%= ticket.status %>">
    <%= link_to ticket.subject, admin_ticket_url(ticket.id) %>
    <%# <div class="ticket-status-icon"></div> %>
  </li>
<% end %>
</ul>