<div class="status dropdown dropdown-status ticket-status-<%= @ticket.status %>">
  <a href="#" id="dropdown-status" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="ticket-status-icon"></span> <%= @ticket.status.humanize %></a>
    <% if can? :update, Ticket %>
      <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdown-status">
        <% Ticket.statuses.each do |status| %>
          <%= link_to status.first.humanize, { controller: 'tickets', action: 'update_status', 'status': status.first, id: @ticket.id}, :remote => true, data: { value: status.second }, :class => 'dropdown-item', :method => :patch %>
        <% end %>
      </div>
    <% end %>
</div>
