<table class="tickets table table-hover">
  <thead>
    <tr>
      <th>Topic</th>
      <th>User</th>
      <th>Last Post</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% tickets.each do |ticket| %>
      <tr class="ticket ticket ticket-status-<%= ticket.status %> <%= 'ticket-needs-feedback' if ticket.needs_feedback %>" data-url="<%= admin_ticket_url ticket.id %>">

        <td>
          <%= ticket.subject %>
          <span class="ticket-labels">
            <% ticket.labels.each do |label| %>
              <span class="ticket-label badge" style="background-color:<%= label.color %>;"><%= label.name %></span>
            <% end %>
          </span>
        </td>
        <td>
          <%= raw ticket.user.avatar %>
        </td>
        <td>
          <%= time_format ticket.last_reply_created_at %>
        </td>
        <td>
          <div class="ticket-status-icon"></div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
