<div class="container">
	<div class="row">
		<div class="page-header offset-md-1 col-md-11">
			<h1 class="page-title">New ticket</h1>
		</div>
		<% if !@settings.tickets_require_valid_support || @items.any? || current_user.is_agent? %>
			<div class="col-md-6 offset-md-1">
				<div class="card">
					<div class="card-block">
						<%= render 'form' %>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<h4>Have you searched our knowledge base?</h4>
				<div id="search_results" class="search-results ticket-subject-search-results"></div>
			</div>
		<% else %>
			<div class="alert-info alert col-md-6 offset-md-3 text-center mt-5">
				<div>Valid purchase is required in order to create a ticket.  If you have purchased one of our items, please sync your purchases.</div>
			<%= link_to 'Sync Purchases', sync_envato_purchases_user_path(current_user.id), class: 'btn btn-secondary mt-3' %>
			</div>
		<% end %>
	</div>
</div>