<%= simple_form_for [:admin, @rule_set] do |f| %>
    <%= f.error_notification %>
    <%= f.input :name %> 
    <%= f.input :matching_logic %>        
    <div class="rules">
        <%= f.simple_fields_for :rules do |rule| %>
            <%= render 'rule_fields', f: rule %>
        <% end %>
        <div class="links">
            <%= link_to_add_association 'Add Rule', f, :rules %>
        </div>
    </div>
    <%= f.submit %>
<% end %>