<div class="nested-fields">
    <label for="user_key">If:</label>
    <div class="row">
        <div class="col-md-3">
            <%= f.input :action, include_blank: false, :collection => Rule::ACTIONS, label: false %>                            
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-3">
                    <%= f.input :user_key, :collection => Rule::USER_KEYS, label_method:  ->(obj){ 'User ' + User.human_attribute_name(obj) }, label: false %>
                </div>
                <div class="col-md-3">
                    <%= f.input :operator, :collection => Rule::OPERATORS, label_method:  ->(obj){ Rule.human_attribute_name(obj) }, label: false %>
                </div>
                <div class="col-md-3">
                    <%= f.input :model_key, :collection => Rule::MODEL_KEYS, label_method:  ->(obj){ User.human_attribute_name(obj) }, label: false %>
                </div>
                <div class="col-md-3">                
                    <%= f.input :user_condition, label: false, placeholder: 'Enter value' %>
                </div>
            </div>
        </div>
    </div>
    <%= link_to_remove_association '<i class="material-icons">remove_circle</i>'.html_safe, f %>
</div>