<p id="notice"><%= notice %></p>

<h1>Rule Sets</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rule_sets.each do |rule_set| %>
      <tr>
        <td><%= link_to 'Show', rule_set %></td>
        <td><%= link_to 'Edit', edit_rule_set_path(rule_set) %></td>
        <td><%= link_to 'Destroy', rule_set, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rule Set', new_rule_set_path %>
