<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Color</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @labels.each do |label| %>
      <%= render 'admin/labels/list_item', label: label %>
    <% end %>
  </tbody>
</table>