<tr data-id="<%= label.id %>">
  <td><%= label.name %></td>
  <td><%= label.color %></td>
  <td class="actions">
  	<%= link_to raw('<i class="material-icons">mode_edit</i>'), edit_admin_label_path(label), :remote => true %>
  	<%= link_to raw('<i class="material-icons">delete</i>'), [:admin, label], method: :delete, remote: true, data: { confirm: 'Are you sure?' } %>
  </td>
</tr>