<% flash.each do |name, msg| %>
  <% @message = content_tag :div, raw(msg), class: "alert alert-fixed alert-" + name %>
<% end %>
$('#notifications').html("<%= escape_javascript @message %>");

<% if !flash[:error] %>
  $('#labels tbody').append("<%= escape_javascript render('list_item.html.erb', label: @label) %>");
  var form = $('#new_label');
  form.trigger('reset');
  form.find(':submit').removeClass('disabled').prop("disabled", false);
  $('#modal-label-new').modal('hide');
<% end %>