<% flash.each do |name, msg| %>
  <% @message = content_tag :div, raw(msg), class: "alert alert-fixed alert-" + name %>
<% end %>
$('#notifications').html("<%= escape_javascript @message %>");

<% if !flash[:error] %>
  $('#labels tbody').find('tr[data-id="<%= @label.id %>"]').remove();
<% end %>