<%= simple_form_for([:admin,@permission_scheme]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>


  <% Permission.actions.each do |action| %>
    <%= f.simple_fields_for :permissions do |p| %>
      <%= p.input :key_value, collection: Role.available_roles %>
    <% end %>
      <%= action[0] %>
      <%= @permission_scheme.permissions[action[1]] %>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
