<p id="notice"><%= notice %></p>

<h1>Permission Schemes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @permission_schemes.each do |permission_scheme| %>
      <tr>
        <td><%= permission_scheme.name %></td>
        <td><%= link_to 'Edit', edit_admin_permission_scheme_path(permission_scheme) %></td>
        <td><%= link_to 'Destroy', [:admin,permission_scheme], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Permission Scheme', new_admin_permission_scheme_path %>
