<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @permission_scheme.name %>
</p>

<%= link_to 'Edit', edit_permission_scheme_path(@permission_scheme) %> |
<%= link_to 'Back', permission_schemes_path %>
