<%= simple_form_for(@user_setting) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :receive_emails %>
    <%= f.input :follow_on_reply %>
    <%= f.input :follow_on_assign %>
    <%= f.input :follow_all %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
