.navbar {
	// background-color: #f5f8fa;
	// background: #2d373c;
	border-bottom: 0px solid #e6e6e6;
	z-index: 100;
	.dropdown-user {
		.dropdown-toggle {
			display: flex;
			align-items: center;
			&:after {
				display: none;
			}
		}
		.avatar {
			max-width: 30px;
			max-height: 30px;
		}
		.dropdown-menu {
			left: auto;
			right: 0;
		}
	}
	.navbar-nav {
		align-items: center;
	}
}


.navbar-brand {
	color: #fff;
}

.nav-item {
	a {
		// color: $gray-dark;
		// color: rgba(255, 255, 255, 0.5);
	}
}

.navbar .navbar-nav-main {
	.nav-item {
		position: relative;
		&:hover {
			.dropdown-menu {
				display: block;
				margin-top: 0;
				a {
					color: inherit !important;
				}
			}
		}
		ul li {
			a.nav-link {
				padding-left: 1rem;
				padding-right: 1rem;
			}
		}
	}

}

.admin .navbar.header {
	margin-left: 86px;
	border-bottom: 1px solid #ebedf5;
	input {
		background: transparent;
		border: 0;
		border-radius: 0;
	}
}