.page-header {
	display: flex;
	align-items: center;

	margin-left: 86px;
    padding: 16px 30px;
    font-size: 0.9rem !important;
    border-bottom: 1px solid #eceeef;
	background: #f9f9f9;
	
	h1, .page-title {
		font-size: 1.2rem;
		font-weight: 800;
		float: left;
		margin-bottom: 0;
	}
	.actions-bar {
		margin-bottom: 0;
	}
}
.admin .page-header {
	margin-top: 0;
}