.sidebar {
	z-index: 10;
	background: transparent;
	padding-top: 2rem;
	width: 280px;
	min-width: 280px;
	max-width: 280px;
	top: 0;
	left: 0;
	border-right: 1px solid $border-color;
	@extend .col;
	h6 {
		font-weight: bold;
	}
	&.transparent {
		background-color: transparent;
	}
	ul {
		list-style: none;
	}
	// .nav-link {
	// 	color: #76838a;
	// 	font-size: .9rem;
	// }
}

.nav-pills .nav-link {
    align-items: center;
	display: flex;
	padding-left: 0;
	font-size: 1rem;
    i {
    	font-size: 1.3rem;
    	margin-right: 1rem;
    }
}