<%= simple_form_for [:admin, @canned_response], :remote => true do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
		<%= f.trix_editor :content %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>