<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @canned_responses.each do |canned_response| %>
      <%= render 'admin/canned_responses/list_item', canned_response: canned_response %>
    <% end %>
  </tbody>
</table>
