<tr data-id="<%= canned_response.id %>">
  <td><%= canned_response.name %></td>
  <td class="actions">
  	<%= link_to '<i class="material-icons">mode_edit</i>'.html_safe, edit_admin_canned_response_path(canned_response), :remote => true %>
  	<%= link_to '<i class="material-icons">delete</i>'.html_safe, [:admin,canned_response], method: :delete, remote: true, data: { confirm: 'Are you sure?' } %>		
  </td>
</tr>