<% flash.each do |name, msg| %>
  <% @message = content_tag :div, raw(msg), class: "alert alert-fixed alert-" + name %>
<% end %>
$('#notifications').html("<%= escape_javascript @message %>");

<% if !flash[:error] %>
  $('#canned_responses tbody').append("<%= escape_javascript render('list_item.html.erb', canned_response: @canned_response) %>");
  var form = $('#new_canned_response');
  $('#editor-canned_response_content .ql-editor').html('');
  form.trigger('reset');
  form.find(':submit').removeClass('disabled').prop("disabled", false);
  $('#modal-canned-response-new').modal('hide');
<% end %>