$("#modal-canned-responses").remove();
$('body').append('<div id="modal-canned-responses" class="modal"><div class="modal-dialog"><div class="modal-content"><div class="modal-body"><%= escape_javascript(render 'form', canned_response: @canned_response) %></div></div></div></div>');
$('#modal-canned-responses').modal('show');