<p id="notice"><%= notice %></p>

<h1>Canned Responses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @canned_responses.each do |canned_response| %>
      <tr>
        <td><%= canned_response.name %></td>
        <td><%= canned_response.content %></td>
        <td><%= link_to 'Show', canned_response %></td>
        <td><%= link_to 'Edit', edit_canned_response_path(canned_response) %></td>
        <td><%= link_to 'Destroy', canned_response, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Canned Response', new_canned_response_path %>
