<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @canned_response.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @canned_response.content %>
</p>

<%= link_to 'Edit', edit_canned_response_path(@canned_response) %> |
<%= link_to 'Back', canned_responses_path %>
