<% flash.each do |name, msg| %>
  <% @message = content_tag :div, raw(msg), class: "alert alert-fixed alert-" + name %>
<% end %>
$('#notifications').html("<%= escape_javascript @message %>");

<% if !flash[:error] %>
  $('#canned_responses').find('tr[data-id="<%= @canned_response.id %>"]').replaceWith("<%= escape_javascript render('list_item.html.erb', canned_response: @canned_response) %>");
  $('#modal-canned-responses').modal('hide');
<% end %>