<% if can? :filter, Ticket %>
  <h4>Filters</h4>
  <div class="filters">
    <%= simple_form_for @ticket, :url => tickets_url(:status => params[:status]), :method => :get, html: { id: :tickets_filter } do |f| %>
      <div class="filter-wrapper">
        <i class="material-icons">view_carousel</i>
        <%= f.association :product, selected: params[:product], input_html: { name: :product }, :include_blank => "All", label: false %>
      </div>
      <div class="filter-wrapper">
        <i class="material-icons">adjust</i>
        <%= f.input :status, selected: params[:status], input_html: { name: :status }, :include_blank => "Status", label: false %>
      </div>
      <div class="filter-wrapper">
        <i class="material-icons">assignment_ind</i>
        <%= f.association :assignee, selected: params[:assignee], input_html: { name: :assignee }, label: false, collection: User.agents, :include_blank => "Assignee", :label_method => lambda { |user| "#{user.display_name}" } %>                      
      </div>
    <% end %>
  </div>
<% end %>