<strong>Which item do you need support for?</strong>

<% current_user.purchases.each do |purchase| %>
	<label class="custom-control custom-radio">
	  <input id="radio1" name="ticket[purchase_id]" type="radio" class="custom-control-input" value="<%= purchase.id %>">
	  <span class="custom-control-indicator"></span>
	  <span class="custom-control-description"><%= purchase.item.name %> <%= purchase.support_badge %></span>
	</label>
<% end %>