<nav class="sidebar">

  <ul class="nav nav-pills flex-column mb-5">
    
    <% if current_user %>
      <%= nav_link('<i class="material-icons">inbox</i> Inbox', "/admin/tickets?needs_feedback=1") %>
      <%= nav_link('<i class="material-icons">person_pin</i> My Tickets', "/admin/tickets?assignee=#{current_user.id}") %>
    <% end %>
    <% if current_user && current_user.role == 'admin' %>
      <%= nav_link('Needs Response', '/admin/tickets?status=open') %>
      <%= nav_link('Assigned to Me', '/admin/tickets?status=open') %>
    <% end %>
    <%= nav_link('<i class="material-icons">folder_open</i> Open', '/admin/tickets?status=open') %>
    <%= nav_link('<i class="material-icons">slow_motion_video</i> On Hold', '/admin/tickets?status=on_hold') %>
    <%= nav_link('<i class="material-icons">lock_outline</i> Closed', '/admin/tickets?status=closed') %>
  </ul>
  <h6>Labels</h6>
  <ul class="nav nav-pills flex-column">
    <% @labels.each do |label| %>
      <%= nav_link(label.circle + label.name, "/admin/tickets?label=#{label.id}") %>
    <% end %>
  </ul>
</nav>