<% content_for :page_header do %>
  <h1>Tickets</h1>
<% end %>

<%= render 'sidebar' %>

<main class="content">

  <% if @tickets.count > 0 %>
    <%= render 'table', tickets: @tickets %>
  <% else %>
    <div class="alert alert-info">No tickets to display.</div>
  <% end %>

  <%= will_paginate @tickets %>

</main>
