<%#= render 'sidebar' %>
<% content_for :page_header do %>
  <h1 class="ticket-subject">
    <%= @ticket.subject %>
  </h1>
<% end %>

<main class="content col">

      <div class="ticket-actions mb-5">            
        <% if can? :assign, @ticket %>
          <% if @ticket.needs_feedback %>
            <%= link_to('<i class="material-icons ticket-needs-action">forum</i>'.html_safe, ticket_path(@ticket, ticket: {needs_feedback: false}), :method => :put, remote: true, class: 'btn', data: { title: 'Unmark for feedback', toggle: 'tooltip', placement: 'bottom'}) %>
            <!-- <a href="<%=  %>"><i class="material-icons">do_not_disturb</i> Unmark for feedback</a> -->
          <% else %>
            <%= link_to('<i class="material-icons">forum</i>'.html_safe, ticket_path(@ticket, ticket: { needs_feedback: true }), method: :put, remote: true, class: 'btn', data: { title: 'Mark for feedback', toggle: 'tooltip', placement: 'bottom'}) %>

            <!-- <a href="<%=  %>" class="btn"><i class="material-icons">feedback</i> Mark for feedback</a> -->
          <% end %>
        <% end %>
        <% if current_user && current_user.following?(@ticket) %>
          <%= link_to('<i class="material-icons">rss_feed</i>'.html_safe, unfollow_admin_ticket_path(@ticket.id), method: :put, remote: true, class: 'btn', data: { title: 'Unfollow Ticket', toggle: 'tooltip', placement: 'bottom'}) %>      
        <% elsif current_user %>
          <%= link_to('<i class="material-icons">rss_feed</i>'.html_safe, follow_admin_ticket_path(@ticket.id), method: :put, remote: true, class: 'btn', data: { title: 'Follow Ticket', toggle: 'tooltip', placement: 'bottom'}) %>      
        <% end %>
        <div id="ticket-status" class="float-right">
          <%= render 'status' %>
          <% if can? :assign, @ticket %>
            <div class="assignee dropdown dropdown-assignee">
              <a href="#" id="dropdown-status" class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <% if @ticket.assignee %>
                  Assignee:
                  <%= raw @ticket.assignee.avatar %>
                  <%= @ticket.assignee.name %>
                <% else %>
                  Unassigned
                <% end %>
              </a>
                <div class="dropdown-menu" aria-labelledby="dropdown-assignee">
                  <%= link_to 'Unassign', { controller: 'tickets', action: 'assign', 'assignee_id': nil, id: @ticket.id}, :remote => true, :class => 'dropdown-item', :method => :patch %>
                  <% @agents.each do |agent| %>
                    <%= link_to agent.display_name, { controller: 'tickets', action: 'assign', 'assignee_id': agent.id, id: @ticket.id}, :remote => true, :class => 'dropdown-item', :method => :patch %>
                  <% end %>
                </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="page-header d-block">
        <h1 class="ticket-subject">
          <%= @ticket.subject %>
        </h1>
        <span class="ticket-labels">
          <% @ticket.labels.each do |label| %>
            <span class="ticket-label badge" style="background-color:<%= label.color %>;"><%= label.name %></span>
          <% end %>
        </span>
        <% if @ticket.product %>
          <h2 class="product-name"><%= @ticket.product.name %></h2>
        <% end %>
      </div>

      <ul class="replies">
        <% @ticket.replies.each do |reply| %>
          <%= render 'replies/reply', reply: reply %>
        <% end %>
      </ul>

      <% if can? :create, @ticket.replies.build %>
        <div id="reply" class="mt-5">
          <% if @ticket.status != 'closed' %>
            <%= render 'replies/form' %>
          <% else %>
            <div class="alert alert-info">This ticket has been closed and can no longer be responded to.  Please open a new ticket if you need support.</div>
          <% end %>
        </div>
      <% else %>
        <div class="alert alert-info"> Purchase with valid support is required to reply to this ticket.</div>
      <% end %>



</main>


<div class="ticket-info-col col-p">
  <%= render 'admin/users/card', user: @ticket.user, product_id: ( @ticket.product.id if @ticket.product ) %>

  <h4>Ticket Info</h4>
  <%= simple_form_for [:admin,@ticket] do |f| %>
    <%= f.input :status, include_blank: false %>
    <%= f.association :assignee, :label_method => lambda { |user| "#{user.display_name}" }, input_html: { class: 'select-tags' } %>
    <%= f.association :product, include_blank: false %>
    <%= f.association :labels , input_html: { class: 'select-tags' } %>
  <% end %>

</div>
