<% flash.each do |name, msg| %>
  <% @message = content_tag :div, msg, class: "alert alert-fixed alert-" + name %>
<% end %>
$('#notifications').html("<%= escape_javascript @message %>");

$('#ticket-status').html('<%= escape_javascript(render "status") %>');