<div class="container">
	<div class="page-header">
		<div class="actions-bar">
			<% if @subscription.plan_id %>
				<%= link_to '<i class="material-icons">cancel</i> Cancel Subscription'.html_safe, cancel_subscription_path, class: 'btn btn-white',  data: { confirm: 'Your subscription will be cancelled at the end of this billing cycle.  Are you sure you want to cancel?' }, method: :post %>
				<%= link_to '<i class="material-icons">credit_card</i> Update Card'.html_safe, '#', class: 'btn btn-white', data: { toggle: "modal", target: "#update-card-modal" } %>
			<% end %>
		</div>
	</div>
</div>


<div class="container">
  <div class="pricing-table row">

    <div class="col-md-4">
      <% if @subscription.plan_id %>
        <h1><%= @subscription.plan.name %> Plan</h1>
        <p>You're currently subscribed to the <%= @subscription.plan.name %> plan with <%= pluralize(@subscription.quantity, 'agent') %>.</p>
        <p>To change plans, simply select the number of agents you'd like to have under the respective plan.</p>
      <% elsif current_tenant %>
        <h1><%= pluralize(current_tenant.trial_days_left, 'trial day') %> left</h1>
        <p>You can subscribe to a plan at any time by selecting one from the right.</p>
      <% else %>
        <h1>Work smarter.<br/>Not harder.</h1>
        <p>Your support system should work for you.  Get happier customers and increase your sales!</p>
      <% end %>

      <% if @subscription.cancel_at_period_end %>
        <div class="alert alert-danger">Your subscription will be cancelled at the end of this billing cycle.</div>
      <% end %>
    </div>

    <% @subscription_plans.each do |plan| %>
      <div class="col-md-4">
        <div class="plan card">
          <div class="thumbnail">
            <div class="caption">
              <h3><%= plan.name %></h3>
              <h4 data-base-price="<%= plan.price %>"><%= plan.price %></h4>
              <div class="call-to-action">
                <%= form_tag (@subscription.plan_id.nil? ? subscription_path : change_plan_subscription_path) do |f| %>
                  <input type="number" name="quantity" class="subscription_quantity" value="<%= @subscription.quantity.nil? ? '1' : @subscription.quantity %>" min="1"> <span class="agent-noun">agent</span>
                  <input type="hidden" name="plan_class" id="plan_class" value="subscription_plan">
                  <input type="hidden" name="plan_id" class="subscription_plan_id" value="<%= plan.id %>">
                  <input type="hidden" name="plan_name" class="subscription_plan_name" value="<%= plan.name %>">
                  <% if @subscription.plan_id.nil? %>
                    <button type="button" class="btn btn-primary subscription-btn" data-toggle="modal" data-target="#subscription-modal">
                      Subscribe
                    </button>
                  <% else %>
                    <button name="button" type="submit" class="btn btn-primary">Update Plan</button>
                  <% end %>
                <% end %>
              </div>
              <h5>Features</h5>
              <ul class="features">
                <%= raw plan.features %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>  
</div>

<% if @subscription.plan_id.nil? %>
  <!-- Subscriptions Modal -->
  <div class="modal" id="subscription-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <%= form_tag('/subscriptions',
    role: 'form',
    class: 'payola-onestep-subscription-form',
    id: 'subscription-form',
    'data-payola-base-path' => '/payola',
    'data-payola-error-selector' => '.payola-error',
    'data-payola-plan-type' => '',
    'data-payola-plan-id' => '') do %>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Subscribe</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

                <div class="form-group">
                  <label>Email Address</label>
                  <input type="email"
                         name="email"
                         data-payola="email"
                         placeholder="you@example.com"
                         class="form-control"></input>
                </div>
                <div class="form-group">
                  <label>Card number</label>
                  <input type="text"
                         size="20"
                         data-stripe="number"
                         class="card-number form-control"
                         placeholder="**** **** **** ****"></input>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Exp</label>
                      <input type="text"
                             size="8"
                             class="exp-date form-control"
                             placeholder="MM / YY"></input>
                      <input type="hidden" data-stripe="exp_month"></input>
                      <input type="hidden" data-stripe="exp_year"></input>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>CVC</label>
                      <input type="text"
                             size="4"
                             data-stripe="cvc"
                             class="form-control"
                             placeholder="***"></input>
                    </div>
                  </div>
                </div>
                <input type="hidden" name="quantity" data-payola="quantity" class="quantity" value="1">
                <div class="alert alert-warning payola-error" style="display: none"></div>
        </div>
        <div class="modal-footer">
          <input type="submit" value="Subscribe" class="btn btn-info btn-lg"></input>
        </div>
      </div>
    </div>
    <% end %>
  </div>
<% end %>

<% if @subscription.plan_id %>
  <div class="modal fade" id="update-card-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <%= form_tag(payola.update_card_path(@subscription.guid),
      role: 'form',
      class: 'update-card-form',
      id: 'update-card-form') do %>
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Update Card</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
                  <div class="form-group">
                    <label>Card number</label>
                    <input type="text"
                           size="20"
                           data-stripe="number"
                           class="card-number form-control"
                           placeholder="**** **** **** ****"></input>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Exp</label>
                        <input type="text"
                               size="8"
                               class="exp-date form-control"
                               placeholder="MM / YY"></input>
                        <input type="hidden" data-stripe="exp_month"></input>
                        <input type="hidden" data-stripe="exp_year"></input>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>CVC</label>
                        <input type="text"
                               size="4"
                               data-stripe="cvc"
                               class="form-control"
                               placeholder="***"></input>
                      </div>
                    </div>
                  </div>
                  <input type="hidden" name="quantity" data-payola="quantity" class="quantity" value="1">
                  <input type="hidden" name="guid" class="subscription_guid" value="<%= @subscription.guid %>">
                  <div class="alert alert-warning payola-payment-error" style="display: none"></div>
          </div>
          <div class="modal-footer">
            <input type="submit" value="Update Card" class="btn btn-info btn-lg"></input>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>