<div class="container">
	<div class="row">
		<div class="col-md-4 offset-md-4">
			<h2>Log in</h2>
			
			<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			  <%= f.input :login, label: 'Username or email' %>
			  <%= f.input :password %>
			  <% if devise_mapping.rememberable? -%>
			    <%= f.input :remember_me, as: :boolean %>
			  <% end -%>
			  <%= f.button :submit, 'Log in' %>
			<% end %>
			<% current_tenant && @settings.available_oauth_providers.each do |provider| %>
				<%= link_to "Sign in with #{provider.titleize}", send("user_#{provider}_omniauth_authorize_path") %>
			<% end %>
			<%= render "devise/shared/links" %>

		</div>
	</div>
</div>

