<table class="table table-hover" id="roles">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <%= render 'admin/roles/table_item', role: role %>
    <% end %>
  </tbody>
</table>