<tr data-id="<%= role.id %>">
  <td><%= role.name %></td>
  <td class="actions">
  	<%= link_to raw('<i class="material-icons">mode_edit</i>'), edit_admin_role_path(role), :remote => true %>
  	<%= link_to raw('<i class="material-icons">delete</i>'), [:admin, role], method: :delete, remote: true, data: { confirm: 'Are you sure?' } %>
  </td>
</tr>