<% flash.each do |name, msg| %>
    addToast("<%= escape_javascript msg %>", "<%= escape_javascript name %>");
<% end %>

<% if !flash[:error] %>
  $('#roles tbody').append("<%= escape_javascript render('table_item.html.erb', role: @role) %>");
  var form = $('#new_role');
  form.trigger('reset');
  form.find(':submit').removeClass('disabled').prop("disabled", false);
  $('#modal-role-new').modal('hide');
<% end %>