<% flash.each do |name, msg| %>
    addToast("<%= escape_javascript msg %>", "<%= escape_javascript name %>");
<% end %>

<% if !flash[:error] %>
  $('#roles tbody').find('tr[data-id="<%= @role.id %>"]').remove();
<% end %>