Dropzone.autoDiscover = false;
$(document).on('turbolinks:load', function() {

	var appDropzone;

	$(".dropzone-input").each(function(){	
		$(this).hide();
		var dropzoneDiv = $('<div class="dropzone"></div>');
		$(this).after(dropzoneDiv);
		appDropzone = new Dropzone('.dropzone',{ 
			method: 'post', 
			url: "<%= Rails.application.routes.url_helpers.media_path %>",
			headers: {
			  'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
			},
			maxFilesize: 1,
			paramName: "medium[attachment]",
			// dictDefaultMessage: "",
			success: function(file, response){
				$(file.previewTemplate).find('.dz-remove').attr('id', response.id);
				$(file.previewElement).addClass("dz-success");
				$(file.previewTemplate).after('<input type="hidden" name="attachment_ids[]" value="'+response.id +'">');
				file.url = response.url;
			},
			error: function(file, response) {
				$(file.previewElement).addClass("dz-error");
				if(response.message.length) {
					addToast(response.message, 'error');
				}
			}
		});
	});

    document.addEventListener("trix-attachment-add", function(event) {
		var element = document.querySelector("trix-editor");
		var attachment;
		attachment = event.attachment;
		if (attachment.file) {      
			appDropzone.addFile(attachment.file);
			appDropzone.on("success", function(file, response) {
				console.log('here');
				if (file == attachment.file) {
					alert('true');
					return attachment.setAttributes({
						url: response.url,
						// href: response.url
					});
				}
			});
			

		}     
		
	});



	var Delta =  Quill.import('delta');
	var Parchment = Quill.import('parchment');
	var offsetAttributor = new Parchment.Attributor.Attribute('nameClass', 'class', { 
	  scope: Parchment.Scope.INLINE
	});
	Quill.register(offsetAttributor);
	document.onpaste = function(event){
		var quill = $(event.target).closest('.editor').data('quill');;
		console.log(quill);
		var range = quill.getSelection(true);
		if (range) {
		  if (range.length == 0) {
			console.log('User cursor is at index', range.index);
		  } else {
			var text = quill.getText(range.index, range.length);
			console.log('User has highlighted: ', text);
		  }
		} else {
		  console.log('User cursor is not in editor');
		}
		var items = (event.clipboardData || event.originalEvent.clipboardData).items;
		for (index in items) {
		  var item = items[index];
		  if (item.kind === 'file') {
			event.preventDefault();
			// var uploadPlaceHolder = $('<span>[uploading...]</span>');
			quill.insertText(range.index, '[uploading...]', 'bold', true);
			quill.updateContents(
				new Delta()
				  .retain(quill.getSelection(true).index)
				  .insert({ 
					text: '[moo]'
				  },
				  {
					nameClass: 'else',
				  }));
			// var delta = {
			// 	ops: [
			// 	  {retain: range.index},
			// 	  {insert: "Learn more from this resource", attributes: {link: "http://wikipedia.org"}}
			// 	]
			//   };
			// quill.updateContents(delta);
			// adds the file to your dropzone instance
			appDropzone.addFile(item.getAsFile());
			appDropzone.on("success", function(file, responseObject) {
				$(uploadPlaceHolder).replaceWith('<img src="' + responseObject.url + '">');
			});			
		  }
		}
	  }

	// var isPasting = false;

	// $('body').on('paste', function(e) {
	// 	console.log(e);
	// 	e.preventDefault();
	// 	e.target.innerHTML = 'test';
	// 	var pasteData = e.originalEvent.clipboardData.getData('text');
	// 	// alert(pasteData);
	// });


	// document.onpaste = function(event){
	// 	// event.preventDefault();
  	// isPasting = true;
	//   var items = (event.clipboardData || event.originalEvent.clipboardData).items;
	//   for (index in items) {
	//     var item = items[index];
	//     if (item.kind === 'file') {
	//       appDropzone.addFile(item.getAsFile());
	//     }
	//   }
	// }
	// appDropzone.on("addedfile", function(file) {
	// 	if (isPasting) {

	// 		var pasteData = e.originalEvent.clipboardData.getData('text')
	// 	}
	// });
});