function addTrixButtons() {
	var attachButton, savedRepliesButton, editorElement, fileInput, toolbarElement;
	editorElement = event.target;
    toolbarElement = $(editorElement.toolbarElement);
    if (toolbarElement.find('.saved-replies').length) 
        return

	attachButton = $('<button type="button" class="icon attach" data-trix-action="x-attach" title="Attach Files">Attach Files</button>');
	savedRepliesButton = '<div class="dropdown"><button type="button" class="icon saved-replies" title="Saved Replies" data-toggle="dropdown" id="dropdownMenuLink">Saved Replies</button>'
	+ '<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">';
	$.each(savedReplies, function(index) {
		savedRepliesButton += '<a class="dropdown-item insert-saved-reply" href="#" data-value="'+ index +'">' + $(this)[0].name + '</a>';
	});
	savedRepliesButton += '</div></div>';
	toolbarElement.find('.button_group.block_tools').append(attachButton);
	toolbarElement.find('.button_group.block_tools').append($(savedRepliesButton));
	fileInput = $('<input type="file" multiple>').on('change', function() {
		var file, i, len, ref, results;
		ref = this.files;
		results = [];
		for (i = 0, len = ref.length; i < len; i++) {
		file = ref[i];
		results.push(editorElement.editor.insertFile(file));
		}
		return results;
	});
	return attachButton.on('click', function(event) {
		return fileInput.click();
	});
}

$(document).on('turbolinks:load', addTrixButtons );
$(document).on('trix-initialize', addTrixButtons);

$(document).on('click', '.insert-saved-reply', function(e) {
	e.preventDefault();
	response = savedReplies[$(this).data('value')]['content'];
	var element = document.querySelector("trix-editor");
	console.log(response);
	element.editor.insertHTML(response);
});