<%= simple_form_for @category do |f| %>
  <%= f.input :name %>
  <%= f.input :slug %>
  <%= f.association :product %>
  <%= f.input :status %>
  <%= f.input :image, as: :image_preview %>
  <%= f.button :submit %>
<% end %>
