<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr data-id="<%= category.id %>" data-url="<%= admin_category_path(category) %>">
        <td><%= category.name %></td>
        <td>
          <div class="actions">
            <%= link_to '<i class="material-icons">edit</i>'.html_safe, edit_admin_category_path(category) %>
            <%= link_to '<i class="material-icons">delete</i>'.html_safe, category, method: :delete, remote: true, data: { confirm: 'Are you sure you want to delete this category and all its tickets?' } %>    
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
