<div class="col col-sm-auto sidebar">
  <h6>Categories</h6>
  <ul class="nav flex-column nav-pills">
    <% @categories.each do |category| %>
      <li>
        <%= nav_link '<i class="material-icons">layers</i> ' + category.name, admin_category_path(category) %>
        <% if category.sections %>
          <ul>
            <% category.sections.each do |section| %>
              <%= nav_link '<i class="material-icons">library_books</i> ' + section.name, admin_section_path(section) %>
            <% end %>
          </ul>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>