<div class="container">
	<div class="row">
		<div class="col-md-4 offset-md-4">
			<div class="page-header">
				<h1>Editing Item</h1>
			</div>
			<div class="card">
				<div class="card-block">
					<%= render 'form' %>
				</div>
			</div>
		</div>
	</div>
</div>
