<%= simple_form_for([:admin,@product]) do |f| %>
  <%= f.error_notification %>
  <%= f.input :name %>
  <%= f.input :slug %>
  <%= f.input :status %>
  <%= f.input :image, :as => :image_preview, input_html: { remove_url: '#' } %>
  <%= f.input :description %>

  <%= f.button :submit %>
<% end %>
