<div class="sidebar">
	<ul class="nav flex-column nav-pills" role="tablist">
	  <%= nav_link('<i class="material-icons">brush</i> Basic', admin_product_path(@product)) %>
	  <%= nav_link('<i class="material-icons">brush</i> Branding', branding_admin_product_path(@product)) %>
	  <%= nav_link('<i class="material-icons">brush</i> Permissions', permissions_admin_product_path(@product)) %>
	  <%= nav_link('<i class="material-icons">brush</i> Users', users_admin_product_path(@product)) %>
	  <%= nav_link('<i class="material-icons">brush</i> Envato', envato_admin_product_path(@product)) %>
	</ul>
</div>