<% content_for :page_header do %>
  <h1>Products</h1>
  <div class="actions-bar">
    <%= link_to 'New Product', new_admin_product_path, class: 'btn btn-white' %>  
  </div>
<% end %>
<div class="content">
  <table class="products table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Position</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr data-url="<%= admin_product_url product %>">
          <td>
            <%= product.name %>
          </td>
          <td>
            <%#= product.position %>
          </td>
          <td class="actions">
            <%= link_to '<i class="material-icons">mode_edit</i>'.html_safe, admin_product_path(product) %>
            <%= link_to '<i class="material-icons">delete</i>'.html_safe, product, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

