<% content_for :page_header do %>
    <h1><%= @product.name %> -> Permissions</h1>
<% end %>
<%= render 'sidebar' %>
<div class="content col-p">
    <%= simple_form_for([:admin,@product], html: { class: 'form-horizontal' }, wrapper: :horizontal_form) do |f| %>
        <%= f.error_notification %>
        <%= f.input :name, collection: Role.all, input_html: { class: 'select-tags' } %>
        <%= f.input :slug %>
        <%= f.input :status %>
        <%= f.button :submit %>
    <% end %>
</div>