<% content_for :page_header do %>
    <h1><%= @product.name %> -> Users</h1>
    <div class="actions-bar">
        <%= link_to 'Add User', '#', class: 'btn btn-white' %>
    </div>
<% end %>
<%= render 'sidebar' %>
<div class="content col-p">
    <table class="table table-hover mb-0 users">
    <thead>
        <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Created</th>
        </tr>
    </thead>

    <tbody>
        <% @users.each do |user| %>
        <tr data-url="<%= admin_user_path user.username %>" class="user">
            <td><span class="mr-3"><%= raw user.avatar %></span><%= user.display_name %></td>
            <td><%= user.email %></td>
            <td>
                <% user.memberships.each do |membership|%>
                    <% next if !@product_roles.map(&:id).include? membership.role_id %>
                    <%= membership.badge %>
                <% end %>
                <%= simple_form_for [:admin,@product], :url => update_user_roles_admin_product_path, :method => :post do |f| %>
                <% end %> 
            </td>
            <td><%= time_format user.created_at %></td>
        </tr>
        <% end %>
    </tbody>
    </table>

    <%= will_paginate @users %>

    <%= simple_form_for [:admin,@users_role], :url => add_user_admin_roles_path, :method => :post do |f| %>
        <input type="hidden" name="product_id" value="<%= @product.id %>">
        <%= f.input :user_id, collection: User.all, :include_blank => false, :label_method => lambda { |user| "#{user.display_name}" } %>
        <%= f.input :role_id, collection: Role.available, :value_method => lambda { |role| "#{role.name}"}, :include_blank => false, input_html: { name: 'users_role[role][]', multiple: true, class: 'select-tags' } %>
        <%= f.button :submit, value: 'Add User' %>
    <% end %>

</div>
