<% title 'Blog' %>
<% meta_description('Our thoughts about web design, web development, how to increase website ranking and sales, and how to build and improve websites.') %>
<% body_class 'blog' %>
<h1>Blog</h1>


<div class="main" id="main">
  <div class="container">
    <% @posts.each do |post| %>
        <%= render 'post', :post => post %>
    <% end %>
    <%= will_paginate @posts %>
  </div>
</div>
