#notifications {
	// position: fixed;
	// top: 20px;
	// right: 20px;
	z-index: 10000;
	position: fixed;
	top: 20px;
	right: 20px;
	.alert {
		animation-name: alert;
		animation-delay: 4s;
		animation-fill-mode: forwards;
		animation-duration: 300ms;
		cursor: pointer;
	}

}

.alert-fixed {

}

.alert {
	background: $alert-blue;
	color: #fff;
	border: 0px solid $alert-blue;
	padding: 15px;
	font-size: 1.1em;
	// padding-left: 50px;
	a {
		color: #fff;
		text-decoration: underline;
		&:hover {
			color: #fff;
		}
	}
	&:after {
		display: block;
		font-family: 'Ionicons';
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 20px;
		font-size: 22px;
	}
	&.alert-fixed {
		margin-top: 20px;
		margin-left: 20px;
		margin-right: 20px;
		// animation-name: alert;
		// animation-delay: 10s;
		// animation-fill-mode: forwards;
		// animation-duration: 300ms;
	}
	&.alert-success {
		background-color: $alert-green;
		// &:after {
		// 	content: '\f122';
		// }
	}
	&.alert-danger, &.alert-error {
		background-color: $alert-red;
		// &:after {
		// 	content: '\f2d7';
		// }
	}
	&.alert-warning {
		background-color: $alert-yellow;
		// &:after {
		// 	content: '\f3bc';
		// }
	}
	&.alert-info {
		// background: white;
		// color: #585d67;
  //   /* border: 0px solid #55b5c5; */
  //   padding: 45px;
  //   font-size: 1.1em;
  //   border: 1px solid #bcdff1;
	}
	&.hidden {
		display: none;
	}
}



@keyframes alert{
    from {
    	opacity :1;
    	visibility: visible;
    }
    to {
    	opacity :0;
    	visibility: hidden;
    }
}