.articles {
	min-height:40px;
	.article {
		padding: .6rem 1rem;
		border-bottom: 1px solid $border-color;
		i {
			font-size: 15px;
			margin-right: 10px;
			color: #d0d0d0;
		}
	}
}
.article-content {
	img {
		max-width: 100%;
	}
}

.ghost {
	// width: 100%;
	min-height: 100px;
	opacity: .5;
	background: #C8EBFB;
}

.ui-sortable-placeholder {
	border: 1px dashed rgba(0, 0, 0, 0.15);
	background: #f7f7f7;
	height: 100px;
	width: 100%;
	visibility: visible !important;
}
.ui-sortable-helper {
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 0.25rem;
	padding: 0.5rem 0;
}