.dropzone {
	min-height: 100px;
	border: 2px dashed #b1b9ce;
	display: flex;
	margin-bottom: 2rem;
	.dz-message {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		width: 100%;
		color: #b1b9ce;
		&:before {
			font-family: 'Material Icons';
			content: 'cloud_upload';
			font-size: 1.6rem;
			margin-right: 1rem;
		}
	}
	.dz-preview {
		.dz-progress {
			height: 12px;
			span {
				border-radius: $input-border-radius;
			}
			.dz-upload {
				background: $green;
			}
		}
	}
	.dz-details {
		overflow: hidden;
		font-size: 0.8rem;
	}
}
.attachments + .dropzone {
	min-height: 42px;
	border: 0;
	flex-direction: column;
	.dz-message {
		justify-content: flex-start;
	}
}