.btn {
	font-size: 1rem;
	font-family: inherit;
	border-width: 0;
	i {
		vertical-align: top;
		font-size: 20px;
		margin-right: 3px;
		margin-left: -6px;
	}
}
.btn-white {
	background: white;
	box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}
.btn-lg, .btn-group-lg > .btn {
    padding: 0.95rem 1.8rem;
    font-size: .9rem;
    font-weight: 800;
}
.btn-danger {
    background-color: #ec4545;
    border-color: #ec4545;
}



.btn-default {
	cursor: pointer;
	background: #fff;
	border: 1px solid #3d3d3d;
}


.actions-bar {
	margin-bottom: 20px;
	text-align: right;
	display: flex;
	margin-left: auto;
	justify-content: flex-end;
	
	.btn {
		border: 0px;
		background: white;
		font-weight: bold;
		color: #3d3d3d;
		margin-left: 15px;
	}
	.back {
		padding-left: 0px;
		float: left;
	}
}

.actions {
	a {
		transition: $transition-base;
		opacity: .3;
		&:hover {
			opacity: 1;
		}
	}
}
