.categories {
	.category {
		img {
			max-width: 100%;
		}
		.category-btns {
			a {
				// background-color: #f7f7f7;
				width: 50%;
				display: inline-block;
				padding: 10px 15px;
				float: left;
				text-align: center;
				border-top: 1px solid #e8e8f1;
				&:first-child {
					border-right: 1px solid #dfdfe6;
				}
			}
		}
	}
}