.channel-item {
	margin-bottom: 40px;
	position: relative;
	display: inline-block;
	width: 100%;
	&.has-ticket {
		opacity: .5;
	}
	.avatar-container {
		position: absolute;
		top: 0;
		left: 0;
	}
	.channel-item-body {
		margin-left: 120px;
		padding: 30px;
		background: white;
	}
	.channel-avatar {
		max-width: 80px;
	}
	.actions {
		margin-top: 10px;
	}
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#channel-items {
	.alert {
		display: none;
	}
	&.loading {
		.alert {
			display: block;
			i {
				animation: rotating 1.6s linear infinite;
			}
		}
	}
}