.label-circle {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	display: inline-block;
	margin-right: 1rem;
}

.delete {
	font-weight: bold;
	opacity: .4;
	transition: opacity .2s ease-in-out;
	&:hover {
		opacity: 1;
	}
}