.modal {
	justify-content: center;
	align-items: center;
}

.modal.show, .modal.fade {
	display: flex !important;
}

.modal-dialog {
	width: 100%;
}

.modal .modal-dialog {
    transform: translate(0,0) !important;
    animation: none;
}

.modal-backdrop {
	background: #f4efff;
	&.show {
		opacity: 0.8;
	}
}