.breadcrumb {
	margin-bottom: 0;
}

.nav-pills {
	a {
		color: #a6acb3;
		font-size: 1rem;
	}
	&.nav-pills-icons {
		li {
			a {
				position: relative;
				padding-left:35px;				
			}

			i {
				position: absolute;
				left: 10px;
				font-size: 16px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
}

// Admin nav
.admin-nav {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 100;
	width: 86px;
	background: #23293f;
	li {
		a.nav-link {
			padding: 0.5em 15px 0.5em 12px;
			height: 70px;
			text-align: center;
			line-height: 70px;
			border-left: 3px solid transparent;
			color: #8b91b0;
			opacity: .7;
			&:hover {
				opacity: 1;
			}
			i {
				margin: 0 auto;
				font-size: 1.4rem;
			}
			&.active {
				border-left: 3px solid $purple;
				color: $purple;
				opacity: 1;
			}
		}
	}
}

// Frontend
.header-dark-active {
	.navbar {
		.nav-item {
			a {
				color: #fff;
			}
		}
	}
}
.hero {
	background: #325680;
	background: linear-gradient(150deg,#767bf3 15%,#5396e0 70%,#66c1ec 94%);
}
.navbar-absolute {
	position: absolute;
	width: 100%;
	background: transparent;
	border: 0px;
	z-index: 100;
}
.navbar-brand {
	img {
    max-height: 49px;
	}
}
.navbar-nav .nav-link {
    font-weight: bold;
    font-size: .92rem;
}