.plan {
	border: 1px solid $border-color;
	padding: 30px;
	h3 {
		font-weight: 300;
		font-size: 1.3rem;
		margin-bottom: 20px;
	}
	h4 {
		font-size: 2.4rem;
		margin-bottom: 20px;
	}
	.call-to-action {
		margin-bottom: 20px;
	}
	.features {
		list-style: none;
		padding-left: 0px;
		li {
			padding-left: 26px;
			position: relative;
			&:before {
				font-family: 'Material Icons';
				text-rendering: optimizeLegibility;
				font-feature-settings: "liga" 1;
				font-style: normal;
				text-transform: none;
				line-height: 1;
				font-size: 24px;
				width: 24px;
				height: 24px;
				display: inline-block;
				overflow: hidden;
				-webkit-font-smoothing: antialiased;
				content: 'check';
				display: block;
				position: absolute;
				left: 0;
				top: 0;
			}
		}
	}
	button {
		clear: both;
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
	}
}

.subscription_quantity {
	border: 0;
	border-bottom: 1px solid #c8ced4;
	width: 50px;
	min-width: 0;
	line-height: 1.5;
	padding: 10px;
}