.purchases {
	.list-group-item {
		display: block;
		border: 0;
		.item-name {
			font-size: 1.2rem;
			width: calc(100% - 30px);
			float: left;
			clear: none;
			margin: 0;
		}
		i {
			font-size: 17px;
			margin-right: 10px;
			margin-top: 5px;
			color: #c6c6d6;
			float: left;
		}
		img {
			float: left;
			max-width: 20px;
			margin-right: 10px;
			margin-top: 3px;
		}
		.badge {
			float: right;
		}
		h4 {
			float: left;
			margin-bottom: 0;
		}
		&:hover {
			background: #f9f9fb;
		}
		&[aria-expanded="true"] {
			border-bottom: 0;
			background: #fff;
		}
	}
	table {
		td,th {
			border: 0px;
			font-weight: 300;
			font-size: 1rem;
			padding: .2rem 0px .2rem 32px;
		}
		td {
			color: $gray-light;
		}
	}
}