.replies {
	padding: 0;
	margin-bottom: 0;
	clear: both;
}
.reply {
	padding: 40px 0px;
	border-bottom: 1px solid #e6e6e6; 
	margin: 0;
	.reply-meta {
		font-weight: bold;
		padding: 7px 0;
		font-size: 1rem;
		display: flex;
		align-items: center;
		.reply-created-at {
			float: left;
		}
		.dropdown-reply {
			float: right;
			.dropdown-toggle {
				padding-top: 0;
				padding-bottom: 0;
			}
		}
	}

}

/**
 * Canned Responses
 */
.ql-toolbar .ql-canned_responses.ql-picker {
	float: right;
	.ql-picker-label {
		// color: #444;
	}
	.ql-stroke {
		stroke: #444 !important;
	}
	span {
		padding-right: 20px;
		// color: #444;
	}
}
span[data-value='none']:before {
	content: 'Canned Responses';
	color: #444;
}