
.search-wrapper{
	width: 750px;
	max-width: 100%;
	margin: 0 auto;
	position: relative;
	#search_field {
		padding: 1rem;
		width: 100%
	}
	button {
		position: absolute;
    top: 5px;
    right: 5px;
    padding: 1rem;
    text-align: center;
    i {
	    margin: 0;
    }
	}
	.search-results {
		position: absolute;
		top: 100%;
	}
}

.search-results {
	background-color: #fff;
	width: 100%;
	min-width: 320px;
	max-width: 100%;
	height: auto;
	max-height: 80vh;
	overflow: scroll;
	z-index: 10;
	.badge {
		margin-left: auto;
	}
	em {
		font-weight: bold;
		margin-left: .1rem;
		margin-right: .1rem;
	}
}

.search-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.ticket-subject-search-results {
	.search-overlay {
		display: none;
	}
}