ol.ui-sortable {
	list-style: none;
	padding: 0;
	padding-bottom: 10px;
	li {
		cursor: move;
		border: 1px solid #e6e6e6;
		padding: 15px;
		padding-left: 40px;
		position: relative;
		.handle {
			position: absolute;
			left: 10px;
			top: 50%;
			transform: translateY(-50%);
		}
		margin-bottom: -1px;
		&:last-child {
		}
		h5 {
			margin: 0;
		}
	}

}

.actions {
	text-align: right;
	a {
		padding-left: 10px;
		padding-right: 10px;
		display: inline-block;	
		i {
			font-size: 1.2rem;
		}
	}
}

.sections {
	.section-title {
		i {
			font-size: 1.2rem;
			margin-right: 10px;
		}
		display: flex;
		align-items: center;
	}
}