.nav-tabs {
    .nav-link, .nav-link:hover {
        border: 0;
        border-bottom: 3px solid transparent;
    }
    .nav-link.active {
        border-bottom: 3px solid $purple;
    }
}
.tab-content {
    padding: 1.5rem 0;
}