.tickets {
	.ticket {
		cursor: pointer;
		td {
			vertical-align: middle;
		}
		position: relative;
		.avatar {
			max-width: 32px;
		}
		&.ticket-needs-feedback {
			border-left: 3px solid #fd7344;
			box-sizing: border-box;
		}
	}

}

.item-name {
	font-size: 1.2rem;
	width: 100%;
	clear: both;
	display: inline-block;
	margin-top: .6rem;
	margin-bottom: 0;
}


.needs-feedback {
	color: #fd7344;
}
.tickets-col {
	// padding-left: 0;
}
.dropdown-status {
	display: inline-block;
	a {
		align-items: center;
		display: flex;
	}
	.ticket-status-icon {
		margin-right: 5px;
	}
}
.ticket-status-icon {
	background: transparent;
	border: 3px solid blue;
	border-radius: 50%;
	width: 18px;
	height: 18px;
	float: left;
}
.ticket-status-open {
	.ticket-status-icon {
		border-color: #ff5522;
	}
}
.ticket-status-solved {
	.ticket-status-icon {
		border-color: #1fca63;
	}
}
.ticket-status-closed {
	.ticket-status-icon {
		border-color: #4a79ff;
	}
}
.ticket-status-on_hold {
	.ticket-status-icon {
		border-color: #ffa824;
	}
}
.ticket-status-pending {
	.ticket-status-icon {
		border-color: #ffcf15;
	}
}

.ticket-actions	{
	display: flex;
    align-items: center;
	.dropdown-assignee {
		.avatar {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 100%;
			max-height: 30px;
		}
		// padding-left: 20px;
		// font-weight: bold;
	}
	.btn {
		color: $gray-blue;
		opacity: .7;
		&:hover {
			opacity: 1;
		}
	}
	#ticket-status {
		margin-left: auto;
	}
}

.ticket-info-col {
	min-width: 480px;
	max-width: 480px;
	border-left: 1px solid $border-color;
	.nav-tabs, .list-group {
		margin-left: -$grid-gutter-width-base/2;
		margin-right: -$grid-gutter-width-base/2;
	}
}

// Cards and badges
.card {
	// box-shadow: 0 1px 5px 0 rgba(80, 99, 119, 0.15);
	// box-shadow: 0 5px 15px 0 rgba(94, 113, 134, 0.15);
	box-shadow: 0 16px 27px 9px rgba(94, 113, 134, 0.08);
	border: 0px;
	background: #fafafd;
	background: #fff;
	table {
		margin-bottom: 0;
	}
}
.badge {
	border-radius: 1rem;
	background: $badge-default-bg
}

// Form
.new_ticket {
	.ticket_purchase_url {
		display: none;
	}
}

// Filters
#tickets_filter {
	.filter-wrapper {
	}
	.selectize-input.full {
	    background-color: transparent;
	    border: 0;
	    opacity: .3;
	    color: #5b5f7b;
	    width: auto;
	}
	.selectize-dropdown {
		min-width: 200px;
		text-align: left;
		right: 0 !important;
		left: auto !important;
	}
	i {
		opacity: .3;
		float: left;
		line-height: 42px;
		color: #5b5f7b;
	}
	.form-group {
		clear: none;
		margin-bottom: 0;
	}
}

.tickets-list {
	li {
		display: flex;
		margin-bottom: 8px;
		&:before {
			content: 'forum';
			font-family: 'Material Icons';
			color: #c7cbd0;
			margin-right: 10px;
		}
	}
}