/*!
 * Bootstrap v4.0.0-alpha.6 (https://getbootstrap.com)
 * Copyright 2011-2017 The Bootstrap Authors
 * Copyright 2011-2017 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

@import "base/variables";

// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/custom";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";

// Core CSS
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";

// Components
@import "bootstrap/transitions";
@import "bootstrap/dropdown";
@import "bootstrap/button-group";
@import "bootstrap/input-group";
@import "bootstrap/custom-forms";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/card";
// @import "bootstrap/breadcrumb";
@import "bootstrap/pagination";
@import "bootstrap/badge";
@import "bootstrap/jumbotron";
@import "bootstrap/alert";
@import "bootstrap/progress";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/responsive-embed";
@import "bootstrap/close";

// Components w/ JavaScript
@import "bootstrap/modal";
@import "bootstrap/tooltip";
// @import "bootstrap/popover";
// @import "bootstrap/carousel";

// Utility classes
@import "bootstrap/utilities";

// Vendors
@import "monokai-sublime";
@import "jquery-minicolors/jquery.minicolors";
@import "selectize.bootstrap3";
@import "dropzone/basic";
@import "trix";

// Application
@import "base/typography";
@import "base/forms";
@import "base/grid";
@import "base/tables";
@import "layout/header";
@import "layout/sidebar";
@import "layout/page-headers";
@import "layout/footer";
@import "components/buttons";
@import "components/plans";
@import "components/navs";
@import "components/alerts";
@import "components/categories";
@import "components/channel_items";
@import "components/labels";
@import "components/users";
@import "components/tickets";
@import "components/sections";
@import "components/articles";
@import "components/replies";
@import "components/search";
@import "components/purchases";
@import "components/dropdowns";
@import "components/modals";
@import "components/attachments";
@import "components/tabs";
@import "components/editor";

.jumbotron {
	// background: linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
	// color: #fff;
	background: transparent;
	border-radius: 0;
	h1 {
		font-size: 2rem;
		font-weight: bold;
	}
}

i {
	display: none;
}