<%= simple_form_for @category do |f| %>
  <%= f.input :name %>
  <%= f.input :slug %>
  <%= f.association :rule_sets %>
  <%= f.input :external_id, label: "Envato ID" %>
  <%= f.input :status %>
  <%= f.input :image, as: :image_preview %>
  <%= f.button :submit %>
<% end %>
