<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr data-id="<%= item.id %>">
        <td><%= item.name %></td>
        <td>
          <div class="actions">
            <%= link_to '<i class="material-icons">edit</i>'.html_safe, edit_item_path(item) %>
            <%= link_to '<i class="material-icons">delete</i>'.html_safe, item, method: :delete, remote: true, data: { confirm: 'Are you sure you want to delete this item and all its tickets?' } %>    
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
