<%= link_to 'New Article', new_article_path, :class => 'btn btn-primary' %>
<div class="sections row sort" id="sections" data-item-id="<%= @item.id %>" data-role="activerecord_sortable">
	<% @sections.each do |section| %>
	  <div class="section section-draggable col-md-12"  data-id="<%= section.id %>" data-sort-order="0" data-role="section<%= section.id %>" data-move-url="<%= move_section_url(section) %>" data-position="<%= section.position %>">
	  	<div class="section-title">
	  		<h4><%= section.name %></h4>
	  		<td><%= link_to 'Edit', edit_section_path(section) %></td>
	  		<td><%= link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  	</div>
		<div class="articles sort" data-section-id="<%= section.id %>" data-role="activerecord_sortable">
			<% section.articles.each do |article| %>
				<div class="article" data-id="<%= article.id %>" data-sort-order="0" data-role="article<%= article.id %>" data-move-url="<%= move_article_url(article) %>" data-position="<%= article.position %>">
					<%= link_to article.title, article %>
					<%= link_to 'Edit', edit_article_path(article) %>
					<%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
				</div>
			<% end %>
		</div>
	  </div>
	<% end %>
</div>
