<div class="container">
	<div class="row">
		<div class="col-md-4 offset-md-4">
			<div class="page-header">
				<h1>Editing Item</h1>
				<div class="actions-bar">
					<%= link_to 'Back', items_index_url, :class => 'btn' %>
				</div>
			</div>
			<div class="card">
				<div class="card-block">
					<%= render 'form', item: @item %>
				</div>
			</div>
		</div>
	</div>
</div>
