<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading"><%= @category.name %></h1>
    <%#= render 'search', product_id: @product.id %>
  </div>
</section>

<%= render 'sections/table' %>