<div class="user-card">
    <div class="user-avatar float-left mr-3"><%= user.avatar.html_safe %></div>
    <h4><%= user.display_name %></h4>
    
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#info" role="tab">Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#tickets" role="tab">Tickets</a>
      </li>
    </ul>

    <div class="tab-content mb-5">
      <div class="tab-pane active" id="info" role="tabpanel">
        <h5>Purchases</h5>      
        <%= render 'admin/users/purchases', :purchases => user.envato_purchases, :user => user, :active => (product_id || nil)  %>
      </div>
      <div class="tab-pane" id="tickets" role="tabpanel">
        <%= render 'tickets/list', tickets: user.tickets %>
      </div>
    </div>
</div>