<%= simple_form_for [:admin, @user] do |f| %>
	<% if @user.username_change_allowed? %>
	  <%= f.input :username %>
  <% else %>
	  <%= f.input :username, disabled: true %>
	<% end %>
  <%= f.input :email %>
  <% if @user.role == 'owner' %>
	  <%= f.input :role, :as => :collection_select, collection: current_user.available_roles, include_blank: false, include_hidden: false, disabled: true %>
  <% elsif can? :assign_roles, User %>
	  <%= f.input :role, :as => :collection_select, collection: current_user.available_roles, include_blank: false, include_hidden: false %>
	<% end %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.button :submit %>

  <% if @user.persisted? %>
    <hr>
    <h5>Connections</h5>
		<% @settings.available_oauth_providers.each do |provider| %>
			<%= provider.titleize %>
			<% if @user.send("#{provider}") %>
				<div class="card card-block">
					<%= @user.send("#{provider}").uid %>
				</div>
  		<% else %>
  			<% if current_user == @user %>
  				<%= link_to 'Connect ' + provider.titleize, send("user_#{provider}_omniauth_authorize_path"), class: 'btn btn-secondary' %>
  			<% end %>
  		<% end %>
		<% end %>
  <% end %>
<% end %>