<% if user.envato.nil? %>
  <div class="alert alert-info">User has not connected any external accounts yet.</div>
<% elsif purchases.blank? %>
  <div class="alert alert-warning">No purchase history matching items on this support desk.</div>
<% else %>
<div class="purchases list-group">
    <% purchases.each do |purchase| %>
      <a data-toggle="collapse" class="list-group-item list-group-item-action" href="#collapse<%= purchase['code'] %>" aria-expanded="<%= active == purchase['item_id'] ? 'true' : 'false' %>" aria-controls="collapse<%= purchase['item_id'] %>">
        <th colspan="2">
          <%= image_tag 'envato-icon.png' %>
          <span class="item-name"><%= purchase['item_name'] %></span class="item-name">
          <%= purchase['support_until'] %>
        </th>
      </a>
      <div class="collapse <%= 'show' if active == purchase['item_id'] %>" id="collapse<%= purchase['code'] %>">
        <div class="card-block">
          <table class="table table-sm">
            <tbody>
              <tr>
                <th scope="row">Sold on</th>
                <td><%= DateTime.parse(purchase['sold_at']).strftime("%b %d, %Y") %></td>
              </tr>
              <tr>
                <th scope="row">Amount</th>
                <td><%= purchase['amount'] %></td>
              </tr>
              <tr>
                <th scope="row">License</th>
                <td><%= purchase['license'] %></td>
              </tr>
              <tr>
                <th scope="row">Support Paid</th>
                <td><%= purchase['support_amount'] %></td>
              </tr>
              <tr>
                <th scope="row">Supported Until</th>
                <td><%= DateTime.parse(purchase['supported_until']).strftime("%b %d, %Y") %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  
</div>
<% end %>