<nav class="hidden-md-down sidebar">
  <h6>Filters</h6>
  <div class="filters">
    <%= simple_form_for @user, :url => admin_users_url, :method => :get, html: { id: :users_filter } do |f| %>
      <%= f.input :name, input_html: { name: :username, value: params[:username] } %>
      <%= f.input :email, input_html: { name: :email, value: params[:email] } %>
      <%= f.input :role, input_html: { name: :role, value: params[:role] } %>
    <% end %>
  </div>
</nav>