<table class="table table-hover mb-0 users">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Created</th>
      <th>Role</th>
    </tr>
  </thead>

  <tbody>
    <% users.each do |user| %>
      <tr data-url="<%= admin_user_path user.username %>" class="user">
        <td><span class="mr-3"><%= raw user.avatar %></span><%= user.display_name %></td>
        <td><%= user.email %></td>
        <td><%= time_format user.created_at %></td>
        <td><%= user.role %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @users %>