<% content_for :page_header do %>
    <h1 class="page-title">Users</h1>
    <div class="actions-bar">
      <%= link_to '<i class="material-icons">person_add</i> New User'.html_safe, new_admin_user_path, :class => 'btn btn-white' %>
    </div>
<% end %>


<%= render 'sidebar' %>

<div class="content">

  <%= render 'table', users: @users %>
  
</div>

  

