<div class="container">
	<div class="row">
		<div class="col-md-4 offset-md-4 mt-2">
			<div class="page-header">
				<h1 class="page-title">New User</h1>
			</div>
			<div class="card">
				<div class="card-block">
					<%= render 'form', user: @user %>
				</div>
			</div>
		</div>
	</div>
</div>

