<% content_for :page_header do %>
	<h4 class="page-title">Profile</h4>
<% end %>
<div class="sidebar">
	<%= raw @user.avatar(180, 'avatar-large mb-3') %>
	<h1 class="h4"><%= @user.display_name %></h1>
	<%= @user.badge %>
	<ul class="nav flex-column nav-pills nav-pills-icons" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" data-toggle="tab" href="#profile" role="tab"><i class="material-icons">info</i> Profile</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#purchases" role="tab"><i class="material-icons">credit_card</i> Purchases</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#tickets" role="tab"><i class="material-icons">help</i> Tickets</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#user-notifications" role="tab"><i class="material-icons">email</i> Notifications</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#roles" role="tab"><i class="material-icons">guard</i> Roles</a>
		</li>
	</ul>
</div>
<div class="content col-p">
	<div class="tab-content">
		<div class="tab-pane active" id="profile" role="tabpanel">
			<%= render 'form' %>
		</div>
		<div class="tab-pane" id="purchases" role="tabpanel">
			<%= render 'purchases', :purchases => @user.envato_purchases, :user => @user, :active => nil %>
			<% if current_user == @user && @user.envato %>
					<a href="<%= sync_envato_purchases_admin_user_path %>" class="btn btn-white"><i class="material-icons">refresh</i> Sync Envato Purchases</a>
			<% end %>

		</div>
		<div class="tab-pane" id="tickets" role="tabpanel">

			<%= render 'tickets/table', tickets: @tickets %>

			<%= will_paginate @tickets %>
		</div>
		<div class="tab-pane" id="user-notifications" role="tabpanel">
			<%= simple_form_for [:admin, @user, @user_settings] do |f| %>
					<%= f.input :receive_emails, as: :toggle, label: "Receive emails for tickets I'm following." %>
					<%= f.input :follow_on_reply, as: :toggle, label: "Automatically follow tickets that I reply to." %>
					<% if @user.is_agent? %>
						<%= f.input :follow_on_assign, as: :toggle, label: "Automatically follow tickets assigned to me." %>
						<%= f.input :follow_all, as: :toggle, label: "Automatically follow tickets all new tickets." %>
					<% end %>
				<%= f.button :submit, 'Update' %>
			<% end %>
		</div>
		<div class="tab-pane" id="roles" role="tabpanel">
			<table class="table">
			<thead>
				<tr>
					<th>Product</th>
					<th>Role</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @user.memberships.each do |membership| %>
				<tr>
					<td><%= membership.role.resource.name %></td>
					<td><%= membership.badge %></td>
					<td class="actions"><%= link_to '<i class="material-icons">delete</i>'.html_safe, remove_user_admin_roles_path(role: membership.role.name, user_id: @user.id, resource_id: membership.role.resource.id), method: :post, remote: true, data: { confirm: 'Are you sure?' } %></td>
				</tr>
				<% end %>
			<table>
		</div>
	</div>
</div>
