<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading"><%= @product.name %> Support</h1>
<!--     <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p> -->
    <p>
    <%= render 'partials/search' %>
    </p>
  </div>
</section>

<div class="container">
  <div class="categories row">
    <% @categories.each do |category| %>
      <div class="category col-lg-4 col-md-6 col-sm-6 mb-5">

        <div class="card">
          <% if category.image.file? %>
            <%= link_to image_tag(category.image.url, :class => 'card-img-top', :alt => category.name), category_path(category) %>
          <% end %>
          <div class="card-block">
            <h5 class="card-title"><%= link_to category.name, category_path(category) %></h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>