<div class="sidebar col col-sm-auto">
	<ul class="nav flex-column nav-pills">
	  <%= nav_link('<i class="material-icons">brush</i> Branding', '/admin/settings') %>
	  <%= nav_link('<i class="material-icons">library_books</i> Articles', '/admin/settings/articles') %>
	  <%= nav_link('<i class="material-icons">library_books</i> Portal Access', '/admin/settings/articles') %>
	  <%= nav_link('<i class="material-icons">inbox</i> Tickets', '/admin/settings/tickets') %>
	  <%= nav_link('<i class="material-icons">chat_bubble_outline</i> Canned Responses', '/admin/settings/canned_responses') %>
	  <%= nav_link('<i class="material-icons">chat_bubble_outline</i> Permissions', '/admin/settings/rules') %>
	  <%= nav_link('<i class="material-icons">label_outline</i> Labels', '/admin/settings/labels') %>
	  <%= nav_link('<i class="material-icons">import_export</i> Imports', '/admin/settings/imports') %>
	  <%= nav_link('<i class="material-icons">person_add</i> Registration', '/admin/settings/registration') %>
	  <%= nav_link('<i class="material-icons">verified_user</i> Roles', '/admin/settings/roles') %>
	  <%= nav_link('<i class="material-icons">verified_user</i> Permission Schemes', '/admin/settings/permission_schemes') %>
	</ul>
</div>