<div class="page-header">
	<h4 class="page-title">Articles</h4>
</div>
<%= simple_form_for @settings, authenticity_token: true, url: admin_account_settings_path, :remote => true, multipart: true, html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f| %>
	<%= f.error_notification %>
	<%= f.input :articles_private, as: :toggle %>
<%= f.button :submit, 'Update' %>
<% end %>