<% content_for :page_header do %>
	<h1>Branding</h1>
<% end %>
<%= simple_form_for @settings, authenticity_token: true, url: admin_account_settings_path, :remote => true, multipart: true, html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f| %>
  <%= f.error_notification %>
	<%= f.input :branding_company_name, hint: 'Test' %>
	<%= f.input :branding_logo, :as => :image_preview, input_html: { remove_url: '#' } %>
	<%#= f.input :branding_logo, :as => :image_preview %>
	<%= f.input :branding_header_color, :wrapper_html => { :class=>'minicolors minicolors-theme-bootstrap' }, :input_html => { :class => 'color-picker' } %>
	<%= f.input :branding_header_font_color, :wrapper_html => { :class=>'minicolors minicolors-theme-bootstrap' }, :input_html => { :class => 'color-picker' } %>
	<%= f.input :branding_primary_color, :wrapper_html => { :class=>'minicolors minicolors-theme-bootstrap' }, :input_html => { :class => 'color-picker' } %>
	<%= f.input :branding_secondary_color, :wrapper_html => { :class=>'minicolors minicolors-theme-bootstrap' }, :input_html => { :class => 'color-picker' } %>
	<%= f.input :branding_domain %>
	<%= f.input :branding_custom_css %>
	<%= f.button :submit, 'Update' %>
<% end %>

