<% content_for :page_header do %>
	<h4 class="page-title">Canned Responses</h4>
	<div class="actions-bar">
		<a href="#" class="btn btn-white" data-toggle="modal" data-target="#modal-canned-response-new">New</a>
	</div>
<% end %>
<% if @canned_responses.any? %>
	<%= render 'admin/canned_responses/list' %>
<% else %>
	<div class="alert alert-info">No canned responses have been added yet.</div>
<% end %>


<div id="modal-canned-response-new" class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
		  	<%= render 'admin/canned_responses/form' %>
	  	</div>
  	</div>
	</div>
</div>