<% content_for :page_header do %>
	<h4 class="page-title">Imports</h4>
<% end %>
  <div class="alert alert-info"><strong>Important</strong>: Please read our <a href="#">guide on importing</a> before getting started.</div>
  <% if @import %>
    <% if @import.errors.any? %>
      <div class="alert alert-error">
        <%= @import.errors.join('<br>').html_safe %>
      </div>
    <% else %>
      <div class="alert alert-success">
        Imported all records successfully.
      </div>
    <% end %>
  <% end %>
  <h5>Users</h5>
  <%= form_tag 'import_users', multipart: true do %>
    <%= file_field_tag 'users_import_file' %>
    <%= submit_tag "Import", class: 'btn btn-primary' %>
  <% end %>
  <hr />
  <h5>Tickets</h5>
  <%= form_tag 'import_tickets', multipart: true do %>
    <%= file_field_tag 'tickets_import_file' %>
    <%= submit_tag "Import", class: 'btn btn-primary' %>
  <% end %>
  <hr />
  <h5>Replies</h5>
  <%= form_tag 'import_replies', multipart: true do %>
    <%= file_field_tag 'replies_import_file' %>
    <%= submit_tag "Import", class: 'btn btn-primary' %>
  <% end %>