<% content_for :page_header do %>
	<h4 class="page-title">Labels</h4>
	<div class="actions-bar">
		<a href="#" class="btn btn-white" data-toggle="modal" data-target="#modal-label-new">New</a>
	</div>
<% end %>

<% if @labels.any? %>
	<%= render 'admin/labels/list' %>
<% else %>
	<div class="alert alert-info">No labels have been added yet.</div>
<% end %>

<div id="modal-label-new" class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
		  	<%= render 'admin/labels/form' %>
	  	</div>
  	</div>
	</div>
</div>