<% content_for :page_header do %>
	<h4 class="page-title">Permission Schemes</h4>
	<div class="actions-bar">
		<a href="#" class="btn btn-white" data-toggle="modal" data-target="#modal-role-new">New</a>
	</div>
<% end %>

<% if @permission_schemes.any? %>
	<%= render 'admin/permission_schemes/table' %>
<% else %>
	<div class="alert alert-info">No permission schemes have been added yet.</div>
<% end %>

<div id="modal-role-new" class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
		  	<%= render 'admin/permission_schemes/form' %>
	  	</div>
  	</div>
	</div>
</div>