<div class="page-header">
	<h4 class="page-title">Products</h4>
	<div class="actions-bar">
		<%= link_to '<i class="material-icons">add</i> New Item'.html_safe, new_product_path, :class=> 'btn btn-white' %>
		<% if current_user.envato %>
			<a href="/products/sync" class="btn btn-white"><i class="material-icons">sync</i> Sync envato products</a>
			<!-- <p class="text-muted help-block">This will pull all of the current user's envato products.  It will not overwrite any current products or information.</p> -->
		<% end %>
	</div>
</div>
<%#= render 'products/list' %>