<% content_for :page_header do %>
	<h4 class="page-title">Registration</h4>
<% end %>
<%= simple_form_for @settings, authenticity_token: true, url: admin_account_settings_path, :remote => true, multipart: true, html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f| %>
	<%= f.error_notification %>
	<%= f.input :envato_enabled, as: :toggle %>
	<%= f.input :envato_key%>
	<%= f.input :envato_secret %>
	<%= f.input :facebook_enabled, as: :toggle %>
	<%= f.input :facebook_key%>
	<%= f.input :facebook_secret %>
	<%= f.input :twitter_enabled, as: :toggle %>
	<%= f.input :twitter_key%>
	<%= f.input :twitter_secret %>
	<%= f.input :googleplus_enabled, as: :toggle %>
	<%= f.input :googleplus_key%>
	<%= f.input :googleplus_secret %>
	<%= f.button :submit, 'Update' %>
<% end %>