<% content_for :page_header do %>
	<h4 class="page-title">Roles</h4>
	<div class="actions-bar">
		<a href="#" class="btn btn-white" data-toggle="modal" data-target="#modal-role-new">New</a>
	</div>
<% end %>

<% if @roles.any? %>
	<%= render 'admin/roles/table' %>
<% else %>
	<div class="alert alert-info">No roles have been added yet.</div>
<% end %>

<div id="modal-role-new" class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
		  	<%= render 'admin/roles/form' %>
	  	</div>
  	</div>
	</div>
</div>