<div class="page-header">
	<h4 class="page-title">Rules</h4>
	<div class="actions-bar">
		<%= link_to '<i class="material-icons">add</i> New Rule Set'.html_safe, new_admin_rule_set_path, :class=> 'btn btn-white' %>
	</div>
</div>

<%= render 'rule_sets/form' %>