<div class="page-header">
	<h4 class="page-title">Tickets</h4>
</div>
<%= simple_form_for @settings, authenticity_token: true, url: admin_account_settings_path, :remote => true, multipart: true, html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f| %>
	<%= f.error_notification %>
	<%= f.input :tickets_require_valid_support, as: :toggle %>
	<%= f.input :tickets_auto_close, as: :toggle %>
	<%= f.input :tickets_auto_close_days %>
	<%= f.input :tickets_private, as: :toggle %>
	<%= f.association :tickets_auto_assignee, :include_blank => 'None', :label_method => lambda { |user| "#{user.display_name}" }  %>
	<%= f.button :submit, 'Update' %>
<% end %>