<nav class="navbar navbar-toggleable-md">
  <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand mr-5" href="<%= root_path %>">
    <% if current_tenant %>
      <% if !@settings.branding_logo.blank? %>
        <%= image_tag @settings.branding_logo, alt: @settings.branding_company_name %>
      <% elsif @settings.branding_company_name %>
        <%= @settings.branding_company_name %>
      <% else %>
        Deskimo.io  
      <% end %>
    <% end %>
  </a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav navbar-nav-main dropdown-menu-right mr-auto">
      <%= nav_link('Knowledge Base', root_url) %>
      <%= nav_link('Tickets', tickets_path) %>
    </ul>
    <ul class="navbar-nav dropdown-menu-left">
      <% if (can? :manage, AccountSetting) && !current_tenant.has_membership? %>
        <li class="">
          <a href="<%= subscription_path %>" class="btn-sm btn-secondary">Upgrade</a>
        </li>
      <% end %>

      <% if current_user %>
        <% if current_user.role == 'customer' %>
          <li class="">
            <%= link_to 'Create Ticket', new_ticket_path, class: 'btn btn-primary' %>
          </li>
        <% end %>
        <li class="nav-item dropdown dropdown-user">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">more_vert</i><%= raw current_user.avatar %>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <% if current_user && current_user.is_agent? %>
              <a class="dropdown-item" href="<%= admin_tickets_path %>">Admin</a>
            <% end %>
            <a class="dropdown-item" href="<%= admin_user_path(current_user.username) %>">Profile</a>
            <%= link_to "Logout", destroy_user_session_path, :method => :delete, :class => 'dropdown-item' %>

          </div>
        </li>
      <% else %>
            <%= link_to "Login", new_user_session_path, :class => 'btn btn-primary' %>
      <% end %>
    </ul>
  </div>
</nav>