<!DOCTYPE html>
<html>
  <head>
    <title>Themedesk</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'webpack-bundle' %>

    <% if current_tenant && !@settings.branding_custom_css.nil? %>
      <style>
        <%= @settings.branding_custom_css %>
      </style>
    <% end %>
  </head>

  <body class="admin">

    <%= render 'partials/admin_header' %>
    <%= render 'partials/admin_nav' %>
    <%= render 'partials/notifications' %>

    <% if content_for?(:page_header) %>
      <div class="page-header">
        <%= yield(:page_header) %>
      </div>
    <% end %>
    <div class="main container-fluid" id="main">
        <%= yield or yield(:content) %>
    </div>

    <%= render 'partials/editor2' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', 'data-turbolinks-eval': 'false' %>
    <%= yield :footer_scripts %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.payment/1.2.1/jquery.payment.min.js"></script>
    <%= render 'payola/transactions/stripe_header' %>
  </body>
</html>
