<!DOCTYPE html>
<html>
  <head>
    <title>Themedesk</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
          <%= javascript_pack_tag 'webpack-bundle' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
      <% if current_tenant %>
      <style>
        <% if !@settings.branding_header_color.nil? %>
          .navbar {
            background-color: <%= @settings.branding_header_color %> !important;
          }
        <% end %>
        <% if !@settings.branding_header_font_color.nil? %>
          .navbar-nav .nav-link, .navbar-brand {
            color: <%= @settings.branding_header_font_color %> !important;
          }
        <% end %>
        <% if !@settings.branding_primary_color.nil? %>
          .btn.btn-primary {
            background-color: <%= @settings.branding_primary_color %> !important;
          }
        <% end %>
        <% if !@settings.branding_secondary_color.nil? %>
          .btn.btn-secondary {
            background-color: <%= @settings.branding_secondary_color %> !important;
          }
        <% end %>
      </style>
      <% end %>

    <% if current_tenant && !@settings.branding_custom_css.nil? %>
      <style>
        <%= @settings.branding_custom_css %>
      </style>
    <% end %>
  </head>

  <body class="<%= yield(:body_class) %>">

    <%= render 'layouts/header' %>

    <div id="notifications">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg.html_safe, class: "alert alert-" + name %>
      <% end %>
    </div>

    
    <div class="main" id="main">
      <%= yield or yield(:content) %>
    </div>

    <div class="footer">
      <div class="text-center">Powered by <a href="<%= root_url( :subdomain => false ) %>">Deskimo.io</a></div>
    </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', 'data-turbolinks-eval': 'false' %>
    <%= yield :footer_scripts %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.payment/1.2.1/jquery.payment.min.js"></script>
    <%= render 'payola/transactions/stripe_header' %>
  </body>
</html>
