<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> - Deskimo.io</title>
    <%= favicon_link_tag 'favicon.png' %>
    <%= raw yield(:head) %>
    <%= raw yield(:meta_description) %>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <script src="https://use.typekit.net/fko7jii.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= yield :koudoku %>
  </head>

  <body class="header-dark-active">

    <nav class="navbar navbar-toggleable-md navbar-absolute">
      <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand mr-5" href="<%= root_path %>">
       Deskimo.io
      </a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav dropdown-menu-right mr-auto">
          <%= nav_link('Blog', posts_path) %>
          <%= nav_link('Pricing', pricing_path) %>
          <%= nav_link('Features', page_path('features')) %>
          <%= nav_link('Support', '//support.' + root_url.gsub("http://", ''), data: { turbolinks: false }) %>
        </ul>
        <ul class="navbar-nav dropdown-menu-left">
          <% if current_tenant %>
            <li class="nav-item dropdown dropdown-user">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= raw current_user.avatar %><i class="material-icons">more_vert</i></a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
                <% if (can? :manage, AccountSetting) %>
                  <a class="dropdown-item" href="<%= account_settings_path %>">Settings</a>
                <% end %>
                <a class="dropdown-item" href="<%= user_path(:id => current_user.id) %>">Account</a>
                <%= link_to "Logout", destroy_user_session_path, :method => :delete, :class => 'dropdown-item' %>
              </div>
            </li>
          <% else %>
                <%= link_to "Sign in", new_user_session_path %>
                <%= link_to "Register", new_account_path, :class => 'btn btn-primary' %>
          <% end %>
        </ul>
      </div>
    </nav>

    <div id="notifications">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "alert alert-fixed alert-" + name %>
      <% end %>
    </div>
    
    <div class="main" id="main">
      <%= yield or yield(:content) %>
    </div>

    <div class="footer">
      <div class="text-center">Made with <3 <a href="#">Deskimo.io</a></div>
    </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', 'data-turbolinks-eval': 'false' %>
    <%= yield :footer_scripts %>
  </body>
</html>
