<%= simple_form_for(@account, url: account_path) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
	  <%= f.simple_fields_for :owner do |o| %>
      <%= o.input :username %>
      <%= o.input :email %>
      <%= o.input :password %>
	    <%= o.input :password_confirmation %>
	  <% end %>
    <%= f.input :subdomain %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
