<div class="hero">
	<div class="container">
		<div class="row">
			<div class="col-md-4 mt-5 card" style="margin-bottom: -80px;">
				<h1>Get started for free</h1>
				<%= render 'form', account: @account %>
			</div>
			<div class="col-md-3 offset-md-2">
				<h1>Free 30 day trial</h1>
				<h2>No credit card required</h2>
			</div>			
		</div>
	</div>
</div>

